#free_lessons
  .content
    .bk-fake
    .content-body
      .row
        .column-100
          .txt-center
            a(href='http://studynow.vn')
              img.width-128px(src='/assets/images/logo.png')
          br
          .title ĐĂNG KÝ TRẢI NGHIỆM 3 BUỔI HỌC TIẾNG ANH TRỰC TUYẾN - MIỄN PHÍ
          p Studynow.vn là một trung tâm Anh ngữ trực tuyến dựa trên hệ thống E-learning ưu việt. Chúng tôi tự hào mang đến giải pháp học Tiếng Anh hiệu quả, tiện lợi và tiết kiệm.
          p Chúng tôi xin mời bạn trải nghiệm 3 buổi học thử hoàn toàn miễn phí với các giáo viên bản ngữ tại Trung Tâm.
          p Bạn chỉ cần: một tài khoản skype, 1 tai nghe và microphone, 1 laptop hoặc máy tính có webcam (vui lòng không sử dụng Ipad hoặc điện thoại để đảm bảo chất lượng buổi học). Nếu đồng ý học tiếp, chúng tôi sẽ tiến hành đăng kí khóa học cho bạn. Nếu không, 3 buổi trên là hoàn toàn miễn phí.
          p Để bắt đầu buổi học thử, bạn xin vui lòng điền vào form dưới đây để chúng tôi có thể liên hệ tư vấn và hướng dẫn bạn một cách cụ thể và tốt nhất.
      br
      br
      br
      hr.lines.lines-long
      br
      br
      br
      .row
        form.blank(role='form', name='vm.FreeLessonForm', novalidate=true, 'accept-charset'='UTF-8', 'ng-submit'='vm.formSubmit()', autocomplete='off')
          .column-50
            .title.mg-bottom-28px CHỌN CHƯƠNG TRÌNH HỌC
            .line-item(ng-repeat='program in vm.programs')
              label
                input(type='checkbox', name='programs[]', ng-model='program.selected')
                span(ng-bind='program.name') Tiếng Anh giao tiếp
          .column-50
            .title THÔNG TIN CÁ NHÂN
            .errors
            .form-group.mg-top-24px
              input(type='text', placeholder='Họ và tên', name='fullname', ng-model='vm.user.fullName', required=true)
              .error
            .form-group
              input(type='text', placeholder='abc@example.com', name='email', ng-model='vm.user.email', required=true)
              .error
            .form-group
              input(type='text', placeholder='Số điện thoại', name='phoneNumber', ng-model='vm.user.phoneNumber', required=true)
              .error
            .form-group
              input(type='text', placeholder='nick skype', name='skype', ng-model='vm.user.skype')
              .error
          .row.mg-top-32px
            .column-25 &nbsp;
            .column-50
              button.btn.btn-gradient(type='submit') ĐĂNG KÝ
            .column-25 &nbsp;
          br

footer('ng-include'='"libraries/components/footer/footer.html"')
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
