header.search('ng-include'='"libraries/components/headers/search/search.html"')
#content.mg-bottom-96px
  .row.mg-top-16px
    .column-25
      #user-panel
        .user-avatar
          img(ng-src='{{vm.currentUser.avatarUrl}}')
        .user-name(ng-bind='vm.currentUser.fullName')
        br
        .width-220px.mg-auto
          .row
            .column-70
              span(translate) Learned courses:
            .column-30
              span(ng-bind='vm.numberOfCourses')
          .row.mg-top-8px
            .column-70
              span(translate) Spending Time (h):
            .column-30
              span(ng-bind='vm.numberOfHours')
          .row.mg-top-8px
            .column-70
              span(translate) Number of partners:
            .column-30
              span(ng-bind='vm.numberOfTeachers')
        br
    .column-75
      #courses
        .header
          span
            a(href='/courses', translate) Learned Courses
        .body
          div(ng-if='vm.courses.length > 0')
            .row
              .column-15
                span(translate) Code
              .column-25
                span(translate) Partner
              .column-20
                span(translate) Number of lessons
              .column-18
                span(translate) Number of hours
              .column-17
                span(translate) Started Date
              .column-5
                span(translate) Actions
            .row.mg-top-24px(ng-repeat='course in vm.courses')
              .column-15
                span(ng-bind='course.code')
              .column-25
                span(ng-bind='vm.currentUser.isStudent() ? course.teacher.fullName : course.student.nickname')
              .column-20
                span(ng-bind='course.numberOfLessons')
              .column-18
                span(ng-bind='course.numberOfHours')
                span.mg-left-4px(translate) hours
              .column-17
                span(ng-bind='course.startedDate')
              .column-5
                a.underline(ng-href='/courses/{{course.code}}', translate) View
          div(ng-if='vm.courses.length == 0')
            .txt-center.mg-top-24px(translate) There is no learned courses.

#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
footer('ng-include'='"libraries/components/footer/footer.html"')
