header.search('ng-include'='"libraries/components/headers/search/search.html"')
#content.mg-bottom-96px
  .row.mg-top-16px
    .column-25
      user-panel(courses='vm.courses')
    .column-75
      upcoming-schedules(schedules='vm.upcomingSchedules')
      #schedule
        .header
          .row
            .column-70
              span
                a(href='/schedule', translate) Schedule
              span
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
                  path(d="M23.688 15.313l-5.875-6.688c-0.438-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438s1 0.375 1.438 0l5.875-6.688c0.188-0.188 0.313-0.438 0.313-0.688 0-0.313-0.125-0.563-0.313-0.75zM9.188 23.438c0.375 0.438 1.063 0.438 1.438 0l5.938-6.688c0.188-0.188 0.25-0.438 0.25-0.688 0-0.313-0.063-0.563-0.25-0.75l-5.938-6.688c-0.375-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438z")
                a(href='/schedule/{{vm.course.code}}', 'ng-bind'='vm.course.code')
            .column-30.txt-right('ng-if'='vm.currentUser.isTeacher()')
              a.course-controls(href='/schedule/{{vm.course.code}}/edit')
                span.txt-uppercase(translate) Textbook
                i.fa.fa-edit
        #course_notes.body
          .row.d-flex.course-note(ng-repeat='courseNote in vm.courseNotes')
            .column-25.course-label(ng-bind='courseNote.title')
            .column-70.course-description(ng-bind-html='courseNote.description')
            .column-5
              .close('ng-if'='vm.currentUser.isTeacher()', 'ng-click'='vm.removeCourseNote(courseNote)')
                svg("version"="1.1", "xmlns"="http://www.w3.org/2000/svg", "xmlns:xlink"="http://www.w3.org/1999/xlink", "width"="10", "height"="10", "viewBox"="0 0 94.926 94.926")
                  path(xmlns="http://www.w3.org/2000/svg" d="M55.931,47.463L94.306,9.09c0.826-0.827,0.826-2.167,0-2.994L88.833,0.62C88.436,0.224,87.896,0,87.335,0   c-0.562,0-1.101,0.224-1.498,0.62L47.463,38.994L9.089,0.62c-0.795-0.795-2.202-0.794-2.995,0L0.622,6.096   c-0.827,0.827-0.827,2.167,0,2.994l38.374,38.373L0.622,85.836c-0.827,0.827-0.827,2.167,0,2.994l5.473,5.476   c0.397,0.396,0.936,0.62,1.498,0.62s1.1-0.224,1.497-0.62l38.374-38.374l38.374,38.374c0.397,0.396,0.937,0.62,1.498,0.62   s1.101-0.224,1.498-0.62l5.473-5.476c0.826-0.827,0.826-2.167,0-2.994L55.931,47.463z")
          br
          br
          hr.lines.lines-long
          br
          br
          comments(comments='vm.comments', uploader-object='vm.uploaderObject', commentable-id='vm.course.id', commentable-type='"Course"')
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
footer('ng-include'='"libraries/components/footer/footer.html"')
