header.search('ng-include'='"libraries/components/headers/search/search.html"')
#content.mg-bottom-96px
  .row.mg-top-16px
    .column-25
      #user-panel
        .user-avatar
          img(ng-src='{{vm.currentUser.avatarUrl}}')
        .user-name(ng-bind='vm.currentUser.fullName')
        br
        .width-220px.mg-auto
          .row
            .column-70
              span(translate) Homeworks:
            .column-30
              span(ng-bind='vm.homeworkStudents.length')
          .row.mg-top-8px
            .column-70
              span(translate) Score:
            .column-30
              span(ng-bind='vm.score')
        br
    .column-75
      #courses
        .header
          span
            a(href='/homeworks', translate) Homeworks
        .body
          div(ng-if='vm.homeworkStudents.length > 0')
            .row
              .column-12
                span(translate) Code
              .column-30
                span(translate) Content
              .column-15
                span(translate) Attachment
              .column-10
                span(translate) Score
              .column-20
                span(translate) Started Date
              .column-13
                span(translate) Actions
            .row.mg-top-24px(ng-repeat='homeworkStudent in vm.homeworkStudents')
              .column-12
                span(ng-bind='homeworkStudent.homework.code')
              .column-30
                span(ng-bind='homeworkStudent.homework.content')
              .column-15
                a.underline(ng-href='{{homeworkStudent.homework.attachFile.path}}', download, translate) Download
              .column-10
                span(ng-bind='homeworkStudent.score')
              .column-20
                span(ng-bind='homeworkStudent.createdAt')
              .column-13
                a.underline(ng-href='/homeworks/{{homeworkStudent.id}}', translate) Submit Homework
          div(ng-if='vm.homeworkStudents.length == 0')
            .txt-center.mg-top-24px(translate) There is no homeworks.

#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
footer('ng-include'='"libraries/components/footer/footer.html"')
