#dialog_schedule.dialog(ng-controller='DialogScheduleCtrl as vm')
  .header
    img.avatar(ng-src='{{vm.avatarUrl}}')
    span(ng-bind='vm.targetName()')
    .close
      svg("version"="1.1", "xmlns"="http://www.w3.org/2000/svg", "xmlns:xlink"="http://www.w3.org/1999/xlink", "width"="32", "height"="32", "viewBox"="0 0 32 32")
        path("d"="M6.563 6.563c-5.188 5.188-5.188 13.688 0 18.875s13.688 5.188 18.875 0c5.188-5.188 5.188-13.625 0-18.875-5.188-5.188-13.625-5.188-18.875 0zM24.688 24.688c-4.813 4.75-12.563 4.75-17.375 0-4.75-4.813-4.75-12.563 0-17.375 4.813-4.75 12.563-4.75 17.375 0 4.75 4.813 4.75 12.563 0 17.375zM10.75 10l-0.813 0.75 5.313 5.25-5.25 5.25 0.75 0.75 5.25-5.25 5.25 5.25 0.75-0.75-5.25-5.25 5.313-5.25-0.813-0.75-5.25 5.25z")
  .dialog-content
    .row
      .column-30
        strong(translate) Time:
      .column-70
        span(ng-bind='vm.timeRange()')
    .row
      .column-30
        strong(translate) Date:
      .column-70
        span(ng-bind='vm.dateFormat()')
    .clearfix
    br
    .btn.btn-danger.txt-center.btn-medium(ng-click='vm.cancelBooked()', ng-if='vm.inFuture()', translate) Cancel
