header.search('ng-include'='"libraries/components/headers/search/search.html"')
#content.mg-bottom-96px
  .row.mg-top-16px
    .column-25
      #user-panel
        .user-avatar
          img(ng-src='{{vm.currentUser.avatarUrl}}')
        .user-name(ng-bind='vm.currentUser.fullName')
        br
        .width-220px.mg-auto
          .row
            .column-70
              span(translate) Learned courses:
            .column-30
              span(ng-bind='vm.numberOfCourses')
          .row.mg-top-8px
            .column-70
              span(translate) Spending Time (h):
            .column-30
              span(ng-bind='vm.numberOfHours')
          .row.mg-top-8px
            .column-70
              span(translate) Number of partners:
            .column-30
              span(ng-bind='vm.numberOfTeachers')
        br
    .column-75
      #courses
        .header
          .row
            .column-70
              span
                a(href='/courses', translate) Learned Courses
              span
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
                  path(d="M23.688 15.313l-5.875-6.688c-0.438-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438s1 0.375 1.438 0l5.875-6.688c0.188-0.188 0.313-0.438 0.313-0.688 0-0.313-0.125-0.563-0.313-0.75zM9.188 23.438c0.375 0.438 1.063 0.438 1.438 0l5.938-6.688c0.188-0.188 0.25-0.438 0.25-0.688 0-0.313-0.063-0.563-0.25-0.75l-5.938-6.688c-0.375-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438z")
                a(href='/courses/{{vm.course.code}}', 'ng-bind'='vm.course.code')
            .column-30.txt-right
              a.course-controls(href='/courses/{{vm.course.code}}/curriculum')
                span.txt-uppercase.mg-right-8px(translate) Textbook
                i.fa.fa-book
        .body
          .row
            .column-5 ID
            .column-35(translate) Partner Name
            .column-30(translate) Started Time
            .column-20(translate) Duration
            .column-10(translate) Status
          .row.mg-top-24px(ng-repeat='lessonSchedule in vm.lessonSchedules')
            .column-5
              span(ng-bind='$index + 1')
            .column-35
              span(ng-bind='vm.currentUser.isTeacher() ? lessonSchedule.studentName : lessonSchedule.teacherName')
            .column-30
              span(ng-bind='lessonSchedule.startedTime')
            .column-20
              span(ng-bind='lessonSchedule.duration')
              span.mg-left-4px(translate) minutes
            .column-10
              span.tag(ng-bind='lessonSchedule.status', ng-class='vm.getTagStatus(lessonSchedule.status)')
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
footer('ng-include'='"libraries/components/footer/footer.html"')
