.wrapper
  .inner-wrapper
    img.signal(src='/assets/images/403.png')
    .content-wrapper
      .content
        p.txt-uppercase.fontsize-18px
          span RẤT TIẾC,
          span.f-bold LỖI 403 :(
          span TRUY CẬP BỊ TỪ CHỐI
        p CHI TIẾT: Thao tác của bạn không hợp lệ hoặc quá phạm vi web.
        p Hãy liên hệ với chung tôi nếu bạn cần giúp đỡ thêm.
        br
        .btn-group
          a(href='/')
            .btn.btn-danger.btn-medium
              | VỀ TRANG CHỦ
