.wrapper
  .inner-wrapper
    img.signal(src='/assets/images/500.png')
    p.txt-uppercase.fontsize-18px 500 - CÓ LỖI TRONG HỆ THỐNG
    p CHI TIẾT: Xảy ra lỗi với thao tác bạn vừa thực hiện trên web.
    p Hãy liên hệ với chúng tôi nếu bạn cần giúp đỡ thêm.
    br
    a(href='/')
      .btn.btn-danger.btn-medium
        | VỀ TRANG CHỦ
