.row
  .column-30.navigation
    .bk-fake
    img.width-200px(src='/assets/images/logo.png')
    br
    .controls
      .control-item
        a(href='/')
          svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 491.398 491.398" style="enable-background:new 0 0 491.398 491.398;" xml:space="preserve")
            path(d="M481.765,220.422L276.474,15.123c-16.967-16.918-44.557-16.942-61.559,0.023L9.626,220.422    c-12.835,12.833-12.835,33.65,0,46.483c12.843,12.842,33.646,12.842,46.487,0l27.828-27.832v214.872    c0,19.343,15.682,35.024,35.027,35.024h74.826v-97.62c0-7.584,6.146-13.741,13.743-13.741h76.352    c7.59,0,13.739,6.157,13.739,13.741v97.621h74.813c19.346,0,35.027-15.681,35.027-35.024V239.091l27.812,27.815    c6.425,6.421,14.833,9.63,23.243,9.63c8.408,0,16.819-3.209,23.242-9.63C494.609,254.072,494.609,233.256,481.765,220.422z")
          .label TRANG CHỦ
      .control-item.mg-left-16px
        a(href='/terms')
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 495.622 495.622" style="enable-background:new 0 0 79.536 79.536;" xml:space="preserve")
            path(d="M495.622,113.089v150.03c0,0-32.11,6.326-38.725,7.158c-6.594,0.83-27.316,7.521-42.334-6.914   c-23.16-22.197-105.447-104.03-105.447-104.03s-14.188-13.922-36.969-1.89c-20.912,11.022-51.911,27.175-64.859,33.465   c-24.477,13.028-44.764-7.642-44.764-23.387c0-12.213,7.621-20.502,18.515-26.598c29.524-17.898,91.752-52.827,117.67-66.598   c15.754-8.379,27.105-9.097,48.734,9.124c26.638,22.403,50.344,42.824,50.344,42.824s7.732,6.453,20.063,3.854   C448.13,123.725,495.622,113.089,495.622,113.089z M168.098,367.3c3.985-10.238,2.653-21.689-4.987-29.545   c-6.865-7.027-16.888-8.879-26.445-6.689c2.673-9.479,1.197-19.568-5.705-26.688c-6.886-7.009-16.89-8.898-26.446-6.688   c2.653-9.465,1.181-19.553-5.725-26.652c-10.814-11.092-29.519-10.616-41.807,1.097c-12.223,11.729-20.053,32.979-9.144,45.487   c10.891,12.445,23.405,4.873,32.945,2.699c-2.654,9.465-10.606,18.269-0.813,30.658c9.784,12.395,23.404,4.875,32.954,2.721   c-2.663,9.429-10.268,19.117-0.851,30.604c9.502,11.522,25.065,5.383,35.344,2.19c-3.967,10.199-12.458,21.193-1.549,33.513   c10.892,12.409,36.063,6.668,48.358-5.063c12.262-11.729,13.439-30.318,2.654-41.445   C189.435,365.865,178.335,364.089,168.098,367.3z M392.442,289.246c-88.88-88.881-47.075-47.058-94.906-94.992   c0,0-14.375-14.311-33.321-5.998c-13.3,5.828-30.423,13.771-43.307,19.835c-14.158,7.424-24.347,9.722-29.131,9.69   c-27.37-0.179-49.576-22.178-49.576-49.521c0-17.738,9.417-33.181,23.462-41.947c19.75-13.667,65.21-37.847,65.21-37.847   s-13.849-17.549-44.187-17.549c-30.329,0-93.695,41.512-93.695,41.512s-17.976,11.514-43.601,1.143L0,96.373V268.05   c0,0,14.103,4.082,26.775,9.258c2.862-8.162,7.48-15.699,13.886-21.924c21.023-20.024,55.869-20.232,74.996-0.537   c5.762,5.987,9.783,13.129,11.835,21.024c7.707,2.379,14.688,6.593,20.298,12.373c5.779,5.947,9.785,13.129,11.854,20.984   c7.698,2.381,14.669,6.611,20.298,12.395c6.339,6.537,10.562,14.433,12.534,22.988c8.047,2.344,15.319,6.705,21.176,12.693   c11.495,11.807,15.575,27.826,13.103,43.278c0.02,0,0.058,0,0.076,0.035c0.188,0.246,7.122,7.976,11.446,12.336   c8.474,8.482,22.311,8.482,30.811,0c8.444-8.479,8.481-22.289,0-30.811c-0.304-0.303-30.572-31.963-28.136-34.418   c2.418-2.438,40.981,37.688,41.699,38.422c8.463,8.465,22.291,8.465,30.792,0c8.481-8.479,8.463-22.289,0-30.791   c-0.416-0.396-2.152-2.059-2.796-2.721c0,0-38.234-34.06-35.324-36.97c2.946-2.928,50.438,41.392,50.515,41.392   c8.537,7.688,21.687,7.631,29.9-0.586c7.991-7.99,8.162-20.629,1.078-29.146c-0.15-0.453-36.194-38.121-33.381-40.955   c2.854-2.871,38.519,33.853,38.594,33.929c8.444,8.463,22.291,8.463,30.792,0c8.463-8.464,8.463-22.291,0-30.83   C392.706,289.396,392.555,289.32,392.442,289.246z")
          .label ĐIỀU KHOẢN
  .column-70.content-wrapper
    .bk-fake
    .width-640px
      .fontsize-24px CHÍNH SÁCH
      br
      br
      p
        div
          span Chúng tôi yêu cầu khách hàng đọc kỹ và chấp hành nghiêm túc các chính sách và quy định của công ty chúng tôi trước khi sử dụng các dịch vụ tại Studynow.
          span.f-bold Các hành vi trái pháp luật bị nghiêm cấm khi sử dụng các dịch vụ được cung cấp bởi Studynow.
      p.f-bold.heading-label Lợi dụng Internet nhằm:
      ul
        li
          img(src='/assets/images/leaf_small.png')
          span Chống lại nhà nước Cộng hòa xã hội chủ nghĩa Việt Nam. Gây phương hại đến an ninh quốc gia, trật tự, an toàn xã hội. Phá hoại khối đại đoàn kết toàn dân;
        li
          img(src='/assets/images/leaf_small.png')
          span Tuyên truyền chiến tranh xâm lược; gây hận thù, mâu thuẫn giữa các dân tộc, sắc tộc, tôn giáo; Tuyên truyền, kích động bạo lực, dâm ô, đồi trụy, tội ác, tệ nạn xã hội, mê tín dị đoan; Phá hoại thuần phong, mỹ tục của dân tộc
        li
          img(src='/assets/images/leaf_small.png')
          span Tiết lộ bí mật nhà nước, bí mật quân sự, an ninh, kinh tế, đối ngoại và những bí mật khác đã được pháp luật quy định
        li
          img(src='/assets/images/leaf_small.png')
          span Đưa các thông tin xuyên tạc, vu khống, xúc phạm uy tín của tổ chức; danh dự, nhân phẩm của công dân
        li
          img(src='/assets/images/leaf_small.png')
          span Lợi dụng Internet để quảng cáo, tuyên truyền, mua bán hàng hóa, dịch vụ thuộc danh mục cấm theo quy định của pháp luật
        li
          img(src='/assets/images/leaf_small.png')
          span Gây rối, phá hoại hệ thống thiết bị và cản trở trái pháp luật việc quản lý, cung cấp, sử dụng các dịch vụ Internet và thông tin điện tử trên Internet
        li
          img(src='/assets/images/leaf_small.png')
          span Đánh cắp và sử dụng trái phép mật khẩu, khoá mật mã và thông tin riêng của các tổ chức, cá nhân trên Internet
        li
          img(src='/assets/images/leaf_small.png')
          span Tạo ra và cài đặt các chương trình virus máy tính, phần mềm gây hại để thực hiện một trong những hành vi thay đổi các tham số cài đặt của thiết bị số; thu thập thông tin của người khác; xóa bỏ, làm mất tác dụng của phần mềm bảo đảm an toàn, an ninh thông tin được cài đặt trên thiết bị số; ngăn chặn khả năng của người sử dụng xóa bỏ hoặc hạn chế sử dụng những phần mềm không cần thiết; chiếm đoạt quyền điều khiển thiết bị số; thay đổi, xóa bỏ thông tin lưu trữ trên thiết bị số; các hành vi xâm phạm quyền và lợi ích hợp pháp của người sử dụng
        li
          img(src='/assets/images/leaf_small.png')
          span Lợi dụng trang thông tin điện tử cung cấp dịch vụ mạng xã hội trực tuyến để cung cấp, truyền đi hoặc đặt đường liên kết trực tiếp đến những thông tin vi phạm các quy định của pháp luật
        li
          img(src='/assets/images/leaf_small.png')
          span Sử dụng trái phép tài khoản cá nhân của thành viên khác; thông tin sai sự thật xâm hại đến quyền và lợi ích hợp pháp của tổ chức, cá nhân
        li
          img(src='/assets/images/leaf_small.png')
          span Truyền bá các tác phẩm báo chí, tác phẩm văn học, nghệ thuật, các xuất bản phẩm vi phạm các quy định của pháp luật về báo chí, xuất bản
        li
          img(src='/assets/images/leaf_small.png')
          span Sử dụng những thông tin, hình ảnh của cá nhân mà vi phạm các quy định của pháp luật
        li
          img(src='/assets/images/leaf_small.png')
          span Cung cấp thông tin trên internet vi phạm các quy định về sở hữu trí tuệ, về giao dịch thương mại điện tử và các quy định khác của pháp luật có liên quan
        li
          img(src='/assets/images/leaf_small.png')
          span Dùng ngôn ngữ thiếu văn hóa, vi phạm các chuẩn mực đạo đức, văn hóa truyền thống dân tộc Việt Nam
        li
          img(src='/assets/images/leaf_small.png')
          span Đăng tải, tuyên truyền, kích động bạo lực, dâm ô, đồi trụy, tội ác, tệ nạn xã hội, mê tín dị đoan; phá hoại thuần phong, mỹ tục của dân tộc
        li
          img(src='/assets/images/leaf_small.png')
          span Đăng tải, tuyên truyền các nội dung vi phạm sở hữu trí tuệ và bản quyền tác giả
        li
          img(src='/assets/images/leaf_small.png')
          span Đánh cắp và sử dụng trái phép mật khẩu, khoá mật mã và thông tin riêng của thành viên khác trên Studynet.vn. Gây cản trở hoặc có những hành vi đe dọa việc sử dụng bình thường tài khoản, mật khẩu của người sử dụng khác
        li
          img(src='/assets/images/leaf_small.png')
          span Chúng tôi và những người ủy quyền của chúng tôi có quyền loại bỏ bất cứ nội dung nào mà chúng tôi cho rằng vi phạm các qui định trên mà không phải chịu bất cứ trách nhiệm nào về sự tổn thất của bạn do những loại bỏ đó
        li
          img(src='/assets/images/leaf_small.png')
          span Khi cung cấp dữ liệu đăng ký và các thông tin khác về bản thân, bạn cho phép chúng tôi giữ lại hoặc tiết lộ bất kì nội dung nào mà bạn đưa lên, kể cả các thông tin cá nhân khi bạn đăng ký tài khoản nếu pháp luật, cơ quan có thẩm quyền yêu cầu và/hoặc chúng tôi có lý do để tin rằng việc lưu giữ hay tiết lộ là cần thiết để đảm bảo sự tuân thủ pháp luật, đảm bảo quyền lợi cho chúng tôi và cộng đồng người sử dụng
      p.f-bold.heading-label Chính sách hoàn tiền học phí
      p
        span Luôn luôn đặt chất lượng giảng dạy và sự hài lòng của học viên lên hàng đầu, chính sách hoàn tiền học phí tại Studynow lên đến 100%. Cụ thể như sau:
      ul
        li
          img(src='/assets/images/leaf_small.png')
          span Sau khi mua gói học nhưng học viên không thể tiếp tục hết gói học đã mua với bất cứ lý do gì. Chúng tôi đồng ý hoàn trả lại 100% chi phí các buổi học học viên chưa học.
        li
          img(src='/assets/images/leaf_small.png')
          span Thời gian hoàn tiền trong vòng 7 ngày làm việc kể từ khi nhận được thông báo chính thức từ học viên.
        li
          img(src='/assets/images/leaf_small.png')
          span Hoàn tiền bằng một hình thức duy nhất là chuyển khoản trực tiếp đến tài khoản ngân hàng học viên. Nếu tài khoản ngân hàng của học viên khác hệ thống ngân hàng của Studynow, học viên sẽ chịu phí ngân hàng.
      p.f-bold.heading-label Chính sách bảo mật thông tin
      p
        span Để bảo đảm quyền lợi của học viên trong quá trình tham gia học tập tại Studynow và sự thuận tiện trong việc quản lý và hỗ trợ học viên, chúng tôi yêu cầu học viên cung cấp một số thông tin cơ bản khi tham gia học tập và sử dụng dịch vụ tại Studynow.
      p
        span Chúng tôi cam kết bảo mật thông tin do học viên cung cấp và sự dụng thông tin đó để liên lạc với học viên về vấn đề học tập tại Studynow. Và hoàn toàn không sử dụng thông tin học viên với mục đích thương mại với đối tác thứ 3.
      p
        span Sau khi kết thúc khóa học tại Studynow, chúng tôi sẽ xóa các thông tin của họ viên ngay lập tức nếu có yêu cầu chính thức từ học viên.
      br
      p.f-bold Điện thoại: 08 862890703
      p.f-bold
        span Email:
        a.mg-left-4px(href="mailto:support@studynow.vn") support@studynow.vn
