.row
  .column-30.navigation
    .bk-fake
    img.width-200px(src='/assets/images/logo.png')
    br
    .controls
      .control-item
        a(href='/')
          svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 491.398 491.398" style="enable-background:new 0 0 491.398 491.398;" xml:space="preserve")
            path(d="M481.765,220.422L276.474,15.123c-16.967-16.918-44.557-16.942-61.559,0.023L9.626,220.422    c-12.835,12.833-12.835,33.65,0,46.483c12.843,12.842,33.646,12.842,46.487,0l27.828-27.832v214.872    c0,19.343,15.682,35.024,35.027,35.024h74.826v-97.62c0-7.584,6.146-13.741,13.743-13.741h76.352    c7.59,0,13.739,6.157,13.739,13.741v97.621h74.813c19.346,0,35.027-15.681,35.027-35.024V239.091l27.812,27.815    c6.425,6.421,14.833,9.63,23.243,9.63c8.408,0,16.819-3.209,23.242-9.63C494.609,254.072,494.609,233.256,481.765,220.422z")
          .label TRANG CHỦ
      .control-item.mg-left-16px
        a(href='/policy')
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 298 298" style="enable-background:new 0 0 298 298;" xml:space="preserve")
            path(d="M166.395,132v-8.586c0-9.28-7.279-16.414-16.561-16.414h-0.213c-9.281,0-17.227,7.134-17.227,16.414V132H166.395z")
            polygon(points="214.395,51 264.605,51 214.395,0  ")
            path(d="M199.395,58.5V0H59.228C45.442,0,33.395,11.381,33.395,25.166v247.668c0,13.785,12.048,25.166,25.833,25.166h181   c13.785,0,24.167-11.381,24.167-25.166V66h-57.167C203.085,66,199.395,62.643,199.395,58.5z M186.395,186.861   c0,11.028-8.139,20.139-19.167,20.139h-35c-11.028,0-20.833-9.11-20.833-20.139v-35c0-5.487,2-10.428,6-14.011v-14.437   c0-17.551,14.674-31.414,32.227-31.414h0.213c17.553,0,31.561,13.863,31.561,31.414v15.006c3,3.53,5,8.233,5,13.441V186.861z")
            path(d="M135.15,161.219c0,4.997,2.245,9.399,6.245,11.984v11.566c0,3.949,3.553,7.146,7.502,7.146   c3.947,0,7.498-3.197,7.498-7.146v-10.959c5-2.462,7.578-7.177,7.578-12.592c0-7.959-6.453-14.412-14.412-14.412   C141.603,146.807,135.15,153.26,135.15,161.219z")
          .label CHÍNH SÁCH
  .column-70.content-wrapper
    .bk-fake
    .width-640px
      .fontsize-24px ĐIỀU KHOẢN HỌC TẬP TẠI STUDYNOW.VN
      br
      br
      p
        span Với mục tiêu cung cấp những khóa học có chất lượng tốt nhất,
        span.f-bold Studynow.vn
        span xin gửi đến Học viên các điều khoản về quyền lợi và nghĩa trong quá trình học tập tại trung tâm.
      p.f-bold.heading-label QUYỀN LỢI HỌC VIÊN
      p Học viên tại Studynow.vn được hưởng những quyền lợi sau đây:
      p
        span 1. Được xây dựng giáo trình học và lựa chọn giáo viên phù hợp.
      p
        span 2. Được cung cấp tài khoản để sử dụng hệ thống website.
      p
        span 3. Được kiểm tra trình độ sau mỗi một khóa 20 buổi học.
      p
        span 4. Được giáo viên góp ý, cung cấp bài tập và tài liệu sau mỗi buổi học.
      p
      p
        span 5. * Được dời buổi học nếu có thông báo trước ít nhất 5 ngày.
      p
        span 6. * Được bảo lưu khóa học trong một khoảng thời gian phù hợp.
      p
        span 7. Được hỗ trợ tận tình từ bộ phận trợ giảng.
      p * Xem hướng dẫn tại phần nghĩa vụ
      p.f-bold.heading-label NGHĨA VỤ HỌC VIÊN
      p Bên cạnh những quyền lợi, để đảm bảo khóa học có chất lượng tốt nhất, Studynow.vn cũng yêu cầu học viên của mình hoàn thành những nghĩa vụ sau đây:
      p
        span 1. Nghiêm túc trong việc học tập, tôn trọng giáo viên và nhân viên tại trung tâm.
      p
        span 2. Online trước giờ học diễn ra 15 phút để chuẩn bị cho giờ học.
      p
        span 3. Cần thông báo ít nhất 5 ngày trước thời gian diễn ra buổi học để được dời sang một buổi học khác. Nếu thông báo muộn hơn thời gian quy định, học viên sẽ không được học bù.
      p
        span 4. Online trễ hơn 15 phút sẽ bị hủy lớp mà không được học bù.
      p
        span 5. Phải hoàn thành khóa học của mình trong khoảng thời gian quy định.
      p
        span 6. Phải đảm bảo số buổi học tối thiểu trong tuần dựa trên khóa học để đảm bảo chất lượng giảng dạy.
      p.f-bold.heading-label QUY ĐỊNH ĐIỀU PHẠT
      p Vi phạm những điều khoản nghĩa vụ sẽ, Studynow.vn sẽ xem xét và áp dụng một trong những quy định điều phạt sau đây:
      p
        span 1. Nhắc nhở.
      p
        span 2. Hủy lớp.
      p
        span 3. Ngừng cung cấp các khóa học.
      p Kính mong Học viên tham khảo tuân thủ theo những quy định trên.
      p
        span Ngoài ra, nếu có bất cứ câu hỏi nào về những điều khoản và quy định trên đây, vui lòng email cho chúng tôi qua địa chỉ:
        a.mg-left-4px.f-bold(href="mailto:support@studynow.vn") support@studynow.vn
      br
