body.blog {
  .blog-content {
    .row .column-50 {
      &:first-of-type {
        padding-right: 20px;
      }

      &:last-of-type {
        padding-left: 20px;
      }
    }

    .article {
      margin: 40px 0;

      .article-title {
        font-size: 26px;
        margin: 4px 0 8px 0;
        font-weight: 600;

        .label {
          font-size: 28px;
          margin: 4px 0 8px 0;
          color: #444;
        }

        a {
          color: #444;
        }
      }

      .article-time {
        font-weight: 500;
        text-transform: uppercase;
        color: #999;
        margin: 8px 0 4px 0;
      }

      .article-cover, .article-banner {
        height: 240px;
        overflow: hidden;
        border-radius: 2px;
        box-sizing: border-box;
        -moz-filter: blur(0.5px);
        filter: blur(0.5px);
        background-size: cover;

        img {
          max-width: 100%;
          min-height: 100%;
        }
      }

      .article-banner {
        height: 312px;
      }

      .article-author {
        font-size: 18px;
        font-weight: 500;

        span {
          color: #aaa;
          margin: 0 4px;
        }
      }

      .article-brief {
        margin: 20px 0;
      }

      .article-content {
        margin: 24px 0;
      }
    }

    .article-tags {
      font-size: 16px;
      margin: 40px 0;

      span {
        border-bottom: 1px solid #999;
        padding: 4px 0;
      }

      a {
        margin: 0 0 0 4px;
        color: #444;

        &:after {
          content: ',';
        }

        &:last-of-type:after {
          content: '';
        }
      }
    }

    .older-article {
      padding: 12px 32px;
      font-weight: 600;
    }

    hr {
      border: 0;
      border-top: 1px solid #ddd;
      margin: 32px 0;
    }

    .site .site-title, .social .social-title {
      font-size: 18px;
      font-weight: 900;
      margin: 0 0 8px 0;
    }

    .social {
      svg {
        fill: #00cdaf;
        width: 32px;
        height: 32px;
        transition: fill 250ms linear;
        margin: 8px 8px 0 0;
        cursor: pointer;

        &:hover {
          fill: #00cd91;
        }
      }
    }

    .no-articles {
      text-align: center;
      font-size: 24px;
      margin: 64px 0 32px 0;
    }
  }
}
