body.blog {
  .blog-banner {
    margin: 80px 0 0 0;
    padding: 64px 0 96px 0;
    color: #F9F9F9;
    background-image: url(/assets/images/blog.jpg);
    background-size: cover;
    position: relative;

    &:before {
      content: '';
      background: linear-gradient(to top, rgba(40, 40, 40, 0.15), rgba(0, 0, 0, 0.15));
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}
