form {
  input, textarea, .select-wrapper {
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;

    &[disabled] {
      background-color: #EEE;
      color: #999;
    }

    &.ng-invalid.ng-dirty {
      border: 1px solid red;
    }
  }

  .select-wrapper {
    position: relative;
    background-color: white;
    padding: 0;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #999;
      position: absolute;
      right: 12px;
      top: 50%;
    }

    &.shink select {
      padding: 0;
    }

    select {
      appearance: none;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      outline: none;
      width: 100%;
      padding: 12px 20px 12px 20px;
    }
  }

  .errors, .error {
    color: red;
  }
}
