form.blank {
  input, textarea {
    border: 0;
    border-bottom: 1px solid #E3E3E3;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    padding: 12px 16px;
    border-radius: 2px;
  }

  label {
    display: inline-block;
    margin: 8px 0;
  }

  .form-group {
    margin: 16px 0;
  }

  .input-wrapper, .select-wrapper, .text-wrapper {
    padding: 4px 0;
    border-bottom: 1px solid #EBEBEB;
    margin: 12px 0;
    position: relative;

    label, .fa, .icon {
      position: absolute;
      left: 0;
      margin: 5px 0;
      color: #C2C2C2;
    }

    input, [plain-select], textarea {
      padding: 4px 4px 4px 148px;
    }

    .fa-sort {
      position: absolute;
      right: 4px;
      left: inherit;
      top: 8px;
    }
  }

  .btn {
    padding: 11px 48px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  ::-webkit-input-placeholder {
     color: #999;
  }

  :-moz-placeholder {
     color: #999;
  }

  ::-moz-placeholder {
     color: #999;
  }

  :-ms-input-placeholder {  
     color: #999;
  }
}
