body:not([class]), body[class=""] {
  .contact-us {
    position: relative;

    .title {
      color: #333;
    }

    form.blank {
      position: relative;
      z-index: 2;
      font-size: 17px;

      .btn {
        padding: 14px 24px;
      }
    }

    img.teacher {
      position: absolute;
      width: 320px;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
}
