body:not([class]), body[class=""] {
  .courses {
    .course-box {
      text-align: center;

      .course-title {
        font-weight: 600;
        font-size: 32px;
        background-color: #F1F4F7;
        padding: 16px 0;
      }

      .course-desc {
        background-color: #5E5E5F;
        padding: 20px 0 32px 0;
        color: #EEE;

        .label {
          font-size: 28px;
        }

        .saving {
          font-size: 18px;
          margin: 4px 0;
        }
      }

      .course-type {
        width: 40px;
        vertical-align: middle;
        margin: 0 16px 0 0;
      }
    }
  }
}
