body:not([class]), body[class=""] {
  .features {
    .row [class^=column-] {
      &:first-child .block {
        padding-left: 0;
      }

      &:last-child .block {
        padding-right: 0;
      }

      &:hover:not(.course-link) .block {
        transform: translateY(-185px);
      }

    }

    .block {
      position: absolute;
      top: 185px;
      height: 240px;
      overflow: hidden;
      left: 0;
      right: 0;
      transition: transform 300ms ease-in-out;

      .label {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        background-color: rgba(96, 96, 96, 0.6);
        padding: 15px 0;
      }

      .desc {
        line-height: 150%;
        height: 200px;
        background-color: rgba(32, 32, 32, 0.9);
        padding: 16px 24px;
        text-align: justify;
      }
    }

    .course-1, .course-2, .course-3, .course-4, .course-5, .course-link {
      background-size: cover;
      position: relative;
      height: 240px;
      color: white;
      overflow: hidden;
    }

    .course-link {
      background-color: #00cdaf;

      .block {
        top: 50%;
        margin: -32px 0 0 0;
        font-size: 18px;
      }

      .link div {
        margin: 8px 0;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
      }
    }

    .course-1 {
      background-image: url(/assets/images/courses/course_1.jpg);
    }

    .course-2 {
      background-image: url(/assets/images/courses/course_2.jpg);
    }

    .course-3 {
      background-image: url(/assets/images/courses/course_3.jpg);
    }

    .course-4 {
      background-image: url(/assets/images/courses/course_4.jpg);
    }

    .course-5 {
      background-image: url(/assets/images/courses/course_5.jpg);
    }
  }
}
