body:not([class]), body[class=""] {
  .introduction {
    padding: 80px 0 0 0;

    .slick-slider {
      height: 580px;

      .slick-slide {
        img {
          top: 0;
          width: 100%;
          position: absolute;
          z-index: 0;
        }

        .desc {
          position: relative;
          z-index: 9;
          color: white;
          text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        }
      }

      .item3 {
        .group {
          font-size: 48px;
          text-align: left;
          margin: 120px 200px 0 0;
          display: inline-block;
          color: white;
          text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
        }
      }

      .item2, .item4, .item5 {
        .desc {
          text-align: right;
          margin: 0 80px 0 0;
        }
      }

      .item2, .item3, .item4 {
        &:before {
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.1) 75%, transparent 100%);
        }
      }
    }
  }
}
