body:not([class]), body[class=""] {
  .learning {
    .label {
      color: #00cdaf;
      font-weight: 600;
      font-size: 20px;
      margin: 0 0 16px 0;
    }

    .desc {
      text-align: justify;
    }
  }
}
