body:not([class]), body[class=""] {
  .partner {
  }

  .partner-title {
    font-size: 24px;
    text-align: center;
    margin: 48px 0 12px 0;
  }

  .agency {
    position: relative;
    margin: 32px;
    display: inline-block;

    .agency-icon {
      position: absolute;
      top: 8px;

      svg {
        width: 64px;
        height: 64px;
        fill: #444;
      }
    }

    .agency-content {
      padding: 6px 0 6px 80px;
      display: inline-block;
    }

    .agency-label {
      font-size: 18px;
      margin: 0 0 12px;
    }
  }
}
