body:not([class]), body[class=""] {
  .payment {
    .heading-label {
      font-size: 16px;
      margin: 16px 0 20px 0;
    }

    .company-name {
      text-align: center;
      font-size: 20px;
    }

    .description [class^=column-] {
      text-align: center;
    }

    .bank-logo {
      height: 96px;
    }
  }
}
