body:not([class]), body[class=""] {
  .teachers {
    .block {
      border-right: 1px solid #00cdaf;
      padding: 0 16px;
      text-align: center;
      height: 240px;
      position: relative;
      z-index: 2;

      &:last-of-type {
        border: 0;
      }

      .label {
        font-weight: 600;
        font-size: 18px;
        margin: 16px 0;
      }

      img {
        width: 80px;
        margin: 0 0 24px 0;
      }
    }

    .img-teacher {
      margin: -100px 0 0 0;
      display: inline-block;
      position: relative;
      z-index: 1;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      }
    }
  }
}
