body.auth {
  #loading {
    display: none !important;
  }

  .wrapper {
    .inner-wrapper {
      margin: -64px 0 0 0;
      padding: 0;
      text-align: center;
    }
  }

  .signal {
    width: 160px;
    margin: 0 0 32px 0;
  }
}
