body[class="500"], body[class="403"], body.auth {
  height: 100%;

  main {
    display: flex;
    height: 100%;
  }

  .wrapper {
    margin: auto;
  }

  .inner-wrapper {
    width: 640px;
    margin: -200px 0 0 0;
    box-sizing: border-box;
    padding: 160px 0 0 200px;
    position: relative;
  }
}

body[class="500"] {
  .signal {
    width: 320px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

body[class="403"] {
  .signal {
    width: 100%;
    margin: 0 0 48px 0;
  }

  .inner-wrapper {
    width: 480px;
    padding: 0;
    margin: -96px 0 0 0;

    span {
      vertical-align: bottom;
    }

    .f-bold {
      margin: 0 8px;
      font-size: 18px;
    }

    .content-wrapper {
      display: flex;
    }

    .content {
      display: inline-block;
      margin: auto;
    }
  }
}
