body:not([class]), body[class=""], body[class="intercom-messenger-active"] {
  font-size: 16px;
  color: #333;
  background-color: white;

  .part {
    padding: 32px 0 64px 0;
    background-color: white;

    &:nth-child(odd) {
      background-color: #F7F7F7;
    }

    .container {
      width: 1152px;
    }

    .title {
      font-size: 38px;
      text-align: center;
      margin: 24px 0;
      display: inline-block;
      width: 100%;
      color: #00cdaf;
    }

    .hint {
      text-align: center;
      line-height: 24px;
      width: 800px;
      margin: 0 auto;
    }

    .box-announcement {
      position: absolute;
      top: 120px;
      left: 72px;
      background: rgba(0, 0, 0, 0.8);
      color: #FFF;
      padding: 32px 48px;
      width: 440px;
      box-sizing: border-box;
      z-index: 9;

      &:before {
        background-image: linear-gradient(to bottom left, rgba(40, 40, 40, 0.15), rgba(0, 205, 175, 0.15));
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .box-title {
        font-size: 35px;
        text-align: center;
      }

      .box-body {
        font-size: 17px;

        .btn {
          padding: 12px 80px;
          font-size: 20px;
        }

        p {
          line-height: 24px;
          clear: both;
        }

        svg {
          fill: white;
          width: 20px;
          height: 20px;
          margin: 2px 16px 0 0;
          display: inline-block;
        }
      }
    }
  }

  .faq {
    .container {
      width: 1024px;
    }

    .question {
      padding: 0 16px;
    }

    .label {
      font-weight: 600;
      font-size: 16px;
    }

    .desc {
      color: #666;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
