body.policy, body.terms {
  font-size: 13px;

  .navigation {
    text-align: right;
    padding: 48px 32px 0 0;

    .controls .control-item {
      text-align: center;
      margin: 40px 16px 0 16px;
      display: inline-block;

      a {
        display: inline-block;
      }

      .label {
        margin: 12px 0 0 0;
      }
    }

    svg {
      fill: #00cdaf;
      width: 32px;
    }
  }

  .content-wrapper {
    background-color: #ebebeb;
    padding: 80px 0 0 16px;

    .heading-label {
      font-size: 14px;
      margin: 32px 0 0 0;
    }
  }

  .f-bold {
    vertical-align: bottom;
  }

  span.f-bold {
    margin: 0 4px;
  }

  ul {
    list-style-type: none;
    padding: 0 16px;

    li {
      position: relative;
      padding: 0 0 0 48px;
      margin: 8px 0;
      display: inline-block;
    }

    img {
      position: absolute;
      top: 10px;
      left: 0;
      width: 24px;
    }
  }

  a {
    text-decoration: none;
    color: #333;
  }
}
