.bk-fake
.popup-content.signin('ng-controller'='PopupResetPasswordCtrl as vm')
  .close
    svg("version"="1.1", "xmlns"="http://www.w3.org/2000/svg", "xmlns:xlink"="http://www.w3.org/1999/xlink", "width"="32", "height"="32", "viewBox"="0 0 32 32")
      path("d"="M6.563 6.563c-5.188 5.188-5.188 13.688 0 18.875s13.688 5.188 18.875 0c5.188-5.188 5.188-13.625 0-18.875-5.188-5.188-13.625-5.188-18.875 0zM24.688 24.688c-4.813 4.75-12.563 4.75-17.375 0-4.75-4.813-4.75-12.563 0-17.375 4.813-4.75 12.563-4.75 17.375 0 4.75 4.813 4.75 12.563 0 17.375zM10.75 10l-0.813 0.75 5.313 5.25-5.25 5.25 0.75 0.75 5.25-5.25 5.25 5.25 0.75-0.75-5.25-5.25 5.313-5.25-0.813-0.75-5.25 5.25z")
  .popup-header Khôi phục mật khẩu
  form.blank(role='form', name='vm.ResetPasswordForm', novalidate=true, 'accept-charset'='UTF-8', 'ng-submit'='vm.formSubmit()', autocomplete='off')
    .errors
    .successes
    .form-group.mg-top-24px
      input(type='password', placeholder="password", name='password', ng-model='vm.password', required=true)
      .error
    .form-group
      input(type='password', placeholder="password confirmation", name='passwordConfirmation', ng-model='vm.passwordConfirmation', required=true)
      .error
    br
    button.btn.btn-gradient.mg-bottom-24px(type='submit') Cập Nhật
