header.home('ng-include'='"libraries/components/headers/blog/blog.html"')
#full_content
  .blog-content.part
    .container.width-900px
      .article
        br
        br
        .article-banner
          img(ng-src='{{vm.post.coverImage}}')
        br
        .article-time(ng-bind='vm.post.publishedAt')
        .article-title
          .label(ng-bind='vm.post.title')
        .article-author
          a.author-name(ng-href='/blog?user={{vm.post.author.slug}}', ng-bind='vm.post.author.fullName')
          span in
          a.category(ng-href='/blog?category={{vm.post.category}}', ng-bind='vm.post.category')
        .article-content
          .simplemde(ng-bind-html='vm.post.content')
        .article-tags
          span Tags:
          a.article-tag('ng-repeat'='tag in vm.post.tags', ng-bind='tag', ng-href='/blog?tag={{tag}}')
        hr
        .site
          .site-title Studynow
          .site-desc Get language learning tips, learn how to master your mistakes, and gain confidence in your speaking skills.
          br
          a.btn.btn-gradient.btn-medium(href='/') Visit studynow.vn
        hr
        .social
          .social-title Share this post
          div
            a(href='http://www.facebook.com/sharer.php?u={{vm.postUrl}}')
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32")
                path(d="M26 0h-20c-3.313 0-6 2.688-6 6v20c0 3.313 2.688 6 6 6h20c3.313 0 6-2.688 6-6v-20c0-3.313-2.688-6-6-6zM20.125 16h-2.625v9.625h-3.563v-9.625h-2.438v-3.313h2.438v-1.938c0-2.688 0.688-4.375 3.875-4.375h2.625v3.313h-1.625c-1.25 0-1.313 0.5-1.313 1.375v1.625h3z")
            a(href='http://twitter.com/share?url={{vm.postUrl}}')
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32")
                path(d="M26 0h-20c-3.313 0-6 2.688-6 6v20c0 3.313 2.688 6 6 6h20c3.313 0 6-2.688 6-6v-20c0-3.313-2.688-6-6-6zM23.938 12.438c0 0.125 0.063 0.313 0.063 0.5 0 5.188-4 11.188-11.25 11.188-2.188 0-4.25-0.625-6-1.75 0.313 0 0.625 0.063 0.938 0.063 1.813 0 3.5-0.625 4.875-1.688-1.75-0.063-3.188-1.188-3.688-2.75 0.25 0.063 0.5 0.063 0.75 0.063 0.375 0 0.688-0.063 1.063-0.125-1.813-0.375-3.188-2-3.188-3.875 0 0 0-0.063 0-0.063 0.5 0.313 1.125 0.5 1.813 0.5-1.063-0.688-1.813-1.938-1.813-3.25 0-0.75 0.25-1.438 0.563-2 1.938 2.375 4.875 3.938 8.125 4.125-0.063-0.313-0.125-0.625-0.125-0.938 0-2.125 1.813-3.938 3.938-3.938 1.125 0 2.188 0.5 2.875 1.25 0.938-0.188 1.75-0.5 2.5-0.938-0.25 0.938-0.875 1.688-1.688 2.188 0.75-0.125 1.563-0.313 2.25-0.625-0.563 0.813-1.188 1.5-2 2.063z")
            a(href='http://www.linkedin.com/shareArticle?mini=true&url={{vm.postUrl}}')
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32")
                path(d="M26 0h-20c-3.313 0-6 2.688-6 6v20c0 3.313 2.688 6 6 6h20c3.313 0 6-2.688 6-6v-20c0-3.313-2.688-6-6-6zM12 23.75h-4v-14h4zM10.125 8.875c-1.063 0-1.875-0.813-1.875-1.875 0-1 0.813-1.875 1.875-1.875s1.875 0.875 1.875 1.875c0 1.063-0.813 1.875-1.875 1.875zM26 23.75h-4v-8.625c0-1.063-0.313-1.75-1.563-1.75-2.063 0-2.438 1.75-2.438 1.75v8.625h-4v-14h4v1.313c0.563-0.438 2-1.313 4-1.313 1.313 0 4 0.75 4 5.438z")

footer('ng-include'='"libraries/components/footer/footer.html"')
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
