header.search('ng-include'='"libraries/components/headers/search/search.html"')
#content.mg-bottom-96px
  .row.mg-top-16px
    .column-25
      user-panel(courses='vm.courses')
    .column-75
      upcoming-schedules(schedules='vm.upcomingSchedules')
      #schedule
        .header
          span
            a(href='/schedule', translate) Schedule
        .body
          div('ng-if'='vm.courses.length != 0')
            .time-title
              .fa.fa-angle-left('ng-click'='vm.nextWeek(-1)')
              span(ng-bind='vm.calendarTitle()')
              .fa.fa-angle-right('ng-click'='vm.nextWeek(1)')
            br
            .calendar
              .row
                .column-16
                  .txt-right('ng-bind'='vm.getTimeZone()')
                .column-12
                  .txt-center Sun
                .column-12
                  .txt-center Mon
                .column-12
                  .txt-center Tue
                .column-12
                  .txt-center Wed
                .column-12
                  .txt-center Thu
                .column-12
                  .txt-center Fri
                .column-12
                  .txt-center Sat
              .row('ng-repeat'='time in [] | range:48')
                .column-16
                  .txt-right('ng-if'='time % 2 == 0', 'ng-bind'='(time/2 | pad:2) + ":00"')
                .column-12(ng-repeat-start='day in [] | range:7', ng-repeat-end=true, ng-class='vm.blockClass(day, time)', ng-click='vm.showBook(day, time, $event)')
              .row
                .column-16
                  .txt-right('ng-bind'='vm.getTimeZone()')
                .column-12
                  .txt-center Sun
                .column-12
                  .txt-center Mon
                .column-12
                  .txt-center Tue
                .column-12
                  .txt-center Wed
                .column-12
                  .txt-center Thu
                .column-12
                  .txt-center Fri
                .column-12
                  .txt-center Sat
          div('ng-if'='vm.courses.length == 0')
            span(translate) You do not have any courses at this time
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
footer('ng-include'='"libraries/components/footer/footer.html"')
