header.home {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #E9E9E9;
  font-size: 16px;

  .container {
    width: 1152px;
  }

  .logo, .contact {
    float: left;
  }

  .contact {
    font-size: 13px;
    line-height: 16px;
    margin: 8px 0 0 12px;
    color: #E28247;

    i {
      margin: 0 8px 0 0;
    }

    a {
      color: #E28247;
      text-transform: lowercase;
    }
  }

  .nav-right {
    margin: 0 -20px 0 0;
    padding: 30px 0;

    &.signed_in {
      margin: 0 -48px 0 0;
    }

    li {
      padding: 0 16px;
      position: relative;

      &.active:after {
        content: '';
        position: absolute;
        bottom: -12px;
        left: 25%;
        right: 25%;
        border-bottom: 2px solid #f90d00;
      }

      &.username {
        width: 96px;
        height: 24px;
        overflow: hidden;
      }
    }
  }
}
