header.search {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #E3E3E3;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.1);
  z-index: 9;
  font-size: 16px;

  .logo, .user {
    display: inline-block;
  }

  .logo {
    width: 220px;
    padding: 12px 24px 10px 24px;
    box-sizing: border-box;
    text-align: right;
    position: relative;
    z-index: 99;

    img {
      height: 36px;
      margin: 0 32px 0 0;
    }

    .fa-long-arrow-down {
      color: #666;
      padding: 12px 16px 4px 16px;
      margin: 0 4px;
      font-size: 20px;
      transition: transform 250ms ease, opacity 250ms linear;
      cursor: pointer;

      &:hover {
        transform: rotate(90deg);
        opacity: 0.5;
      }
    }
  }

  .user {
    text-align: right;
    position: absolute;
    left: 0;
    right: 0;
    padding: 8px 24px;

    a {
      color: #000;
    }

    ul {
      display: inline-block;

      li {
        list-style-type: none;
        display: inline-block;
        padding: 5px 12px;

        &.user-image {
          padding: 4px 8px;
        }
      }
    }

    .fa {
      margin: 2px 0 0 0;
      font-size: 25px;
      display: inline-block;
      color: #666;

      &.fa-globe {
        margin: 5px 0 0 0;
        font-size: 28px;
      }
    }

    .notification-number {
      position: absolute;
      border-radius: 2px;
      font-size: 11px;
      background-color: #ff5331;
      color: white;
      text-align: center;
      font-weight: 600;
      padding: 2px 3px;
      margin: 0 0 0 -5px;
    }
  }
}
