footer {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 11;
  border-top: 1px solid #E9E9E9;
  background-color: #333;

  .contract {
    padding: 64px 0 0 0;
    width: 100%;
    color: #999;
    @extend .background-cover;

    i {
      width: 32px;
      vertical-align: bottom;
    }

    a {
      color: #999;
    }

    .name {
      font-size: 16px;
      text-transform: uppercase;

      span, b {
        vertical-align: bottom;
      }
    }

    .svg-icon {
      fill: #8f8f8f;
      width: 32px;
      height: 32px;
      transition: fill 250ms linear;

      &:hover {
        fill: #00cdaf;
      }
    }
  }

  b {
    font-family: 'UTM Avo Bold';
  }

  .copyright {
    margin: 12px 0 96px 0;
  }
}
