.wrapper
  .inner-wrapper
    img.signal(src='/assets/images/auth_facebook.png')
    .content-wrapper
      .content
        p.txt-uppercase.fontsize-18px
          | Đang xử lý thông tin từ facebook ...
        p Thao tác sẽ xong trong vài giây
        br
        .btn-group
          a(href='/')
            .btn.btn-anchor.btn-danger.mg-right-12px
              .icon-package
              | VỀ TRANG CHỦ
          a(href='/shop')
            .btn.btn-anchor.btn-danger
              .icon-package
              | TRANG MUA HÀNG
