.contract
  .container
    .row
      .column-25
        p
          img.mg-top-8px.width-200px(src='/assets/images/logo.png')
      .column-60
        p.name
          span Công Ty
          b.d-inline-block.mg-left-8px Studynow Holdings Pte Ltd
        p
          i.fa.fa-location-arrow
          span 140 Paya Lebar Rd, #01-11 Singapore 409015
        p
          i.fa.fa-phone
          span 0909153111
        p
          i.fa.fa-envelope
          a(href='mailto:support@studynow.vn') support@studynow.vn
        p
          i.fa.fa-legal
          span 201700284D (Mã số thuế)
      .column-15
        p
          a(href='https://www.facebook.com/studynow.vn')
            svg.svg-icon(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
              path(d="M26 0h-20c-3.313 0-6 2.688-6 6v20c0 3.313 2.688 6 6 6h20c3.313 0 6-2.688 6-6v-20c0-3.313-2.688-6-6-6zM20.125 16h-2.625v9.625h-3.563v-9.625h-2.438v-3.313h2.438v-1.938c0-2.688 0.688-4.375 3.875-4.375h2.625v3.313h-1.625c-1.25 0-1.313 0.5-1.313 1.375v1.625h3z")
        p
          a(href='/blog', target='_blank')
            svg.svg-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="32" height="32" viewBox="0 0 510 510")
              path(d="M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z     M357,178.5V204c0,15.3,10.2,25.5,25.5,25.5S408,239.7,408,255v76.5c0,43.35-33.15,76.5-76.5,76.5h-153    c-43.35,0-76.5-33.15-76.5-76.5V153c0-43.35,33.15-76.5,76.5-76.5h102c43.35,0,76.5,33.15,76.5,76.5V178.5z M204,204h66.3    c15.3,0,25.5-10.2,25.5-25.5S285.6,153,270.3,153H204c-15.3,0-25.5,10.2-25.5,25.5S188.7,204,204,204z M306,280.5H204    c-15.3,0-25.5,10.2-25.5,25.5s10.2,25.5,25.5,25.5h102c15.3,0,25.5-10.2,25.5-25.5S321.3,280.5,306,280.5z")
    .row.copyright
      .column-25 &nbsp;
      .column-60
        span © 2016 StudyNow.
        span.mg-left-4px All rights reserved.
        a.mg-left-16px(href='/policy') Chính sách
        span ,
        a.mg-left-4px(href='/terms') Điều khoản
