#popup {
  position: fixed;
  z-index: 999;
  overflow: hidden;
  @extend .fullscreen;

  .bk-fake {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .popup-content {
    width: 640px;
    margin: 5% auto;
    position: relative;
    border-radius: 2px;
    background-color: white;

    .popup-header {
      text-transform: uppercase;
      font-size: 20px;
      padding: 16px 28px;
      position: relative;
      border-radius: 2px 2px 0 0;
      color: white;
      background-image: linear-gradient(to bottom right, #00cdaf, #00cd91);
    }
  }

  .close {
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 12px;
    transition: opacity 250ms linear;
    z-index: 9;

    &:hover {
      opacity: 0.5;
    }

    svg {
      fill: white;
    }
  }
}
