#popup .popup-content.signin, #popup .popup-content.signup {
  width: 480px;
  font-size: 15px;
  @include placeholder(#999);

  form.blank {
    margin: 16px 28px;

    label {
      font-size: 15px;
    }

    .btn {
      font-size: 15px;
      padding: 14px 0;
    }

    .switch-forgot {
      cursor: pointer;
      font-size: 14px;
    }

    .switch-signup, .switch-signin {
      display: inline-block;
      margin: 8px 0 0 0;
      font-size: 14px;
    }

    .dash-wrapper {
      margin: 16px 0;

      span {
        text-align: center;
        display: inline-block;

        &.first, &.last {
          width: 40%;
          border-top: 1px dashed #999;
        }
      }
    }
  }

  .comming-soon {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #444;
    margin: 64px 0 72px 0;
    display: inline-block;
    width: 100%;
  }
}
