.container('ng-controller'='HeaderHomeCtrl as vm')
  ul.nav(scroll-to=true)
    li
      .logo
        a(href='#introduction')
          img.width-96px('ng-src'='/assets/images/logo.png')
      .contact
        div
          i.fa.fa-phone
          span 0909153111
        div
          i.fa.fa-skype
          a(href='skype:studynow.vn?chat') studynow.vn
  ul.nav.nav-right(ng-class='{signed_in: !!vm.currentUser.id}', scroll-to=true)
    li
      a(href='#about-us', translate) Introduction
    li
      a(href='#features', translate) Courses
    li
      a(href='#teachers', translate) Teachers
    li
      a(href='#learning', translate) Payment
    li
      a(href='#contact-us', translate) Contact Us
    li.username('ng-if'='vm.currentUser.id')
      a(href='/profile', 'ng-bind'='vm.currentUser.fullName')
    li('ng-if'='vm.currentUser.id', 'ng-click'='vm.logOut()')
      i.fa.fa-sign-out.mg-left-8px
    li.red('ng-if'='!vm.currentUser.id', 'ng-click'='vm.openLoginPopup()')
      a(translate) Login
