header.home('ng-include'='"libraries/components/headers/blog/blog.html"')
#full_content
  .blog-banner.part
  .blog-content.part
    .container
      .row(ng-repeat='group in vm.groupPosts')
        .column-50(ng-repeat='post in group')
          .article
            a(ng-href='/blog/{{post.slug}}')
              .article-cover
                img(ng-src='{{post.coverImage}}')
            .article-time(ng-bind='post.publishedAt')
            .article-title
              a(ng-href='/blog/{{post.slug}}', ng-bind='post.title')
            .article-author
              a.author-name(ng-href='/blog?author={{post.author.slug}}', ng-bind='post.author.fullName')
              span in
              a.category(ng-href='/blog?category={{post.category}}', ng-bind='post.category')
            .article-brief(ng-bind='post.brief')
      .row(ng-if='vm.posts.length == 0')
        .no-articles There is no posts left.
      br
      br
      br
      br
      .txt-center
        a.btn.btn-gradient.older-article(ng-if='vm.posts.length == 10', ng-href='{{vm.olderArticles()}}') Older Articles
      br
footer('ng-include'='"libraries/components/footer/footer.html"')
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
