hr.lines {
  border-top: 2px solid #666;
  margin: 16px auto 0 auto;
  width: 6px;
  position: relative;

  &:before, &:after {
    border-top: 2px solid #666;
    content: "";
    position: absolute;
    top: -2px;
    width: 30px;
  }

  &:before {
    left: -34px;
  }

  &:after {
    right: -34px;
  }
}

hr.lines.lines-long {
  width: 12px;

  &:before, &:after {
    width: 56px;
  }

  &:before {
    left: -64px;
  }

  &:after {
    right: -64px;
  }
}
