a.underline {
  display: inline-block;
  color: #666;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 1px;
    background-color: #999;
    bottom: -2px;
  }
}
