.bk-fake {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

img.border-radius {
  border-radius: 1000px;
}

img.pointer {
  cursor: pointer;
}

img.border-radius {
  border-radius: 1000px;
}

img.ithumbnail {
  mix-blend-mode: multiply;
}
