#learning('ng-if'='vm.schedules.length > 0')
  .warning(ng-repeat='schedule in vm.schedules')
    span(ng-bind='vm.scheduleFormat(schedule)')
    .btn.btn-danger.btn-small(ng-click='vm.cancelSchedule(schedule)', translate) Cancel
