#user-panel
  .user-avatar
    img(ng-src='{{vm.currentUser.avatarUrl}}')
  .user-name(ng-bind='vm.currentUser.fullName')
  br
  hr
  br
  .title(translate) Courses
  br
  .course('ng-repeat'='course in vm.courses')
    a.line(ng-href='/schedule/{{course.code}}')
      img.avatar(ng-src='{{vm.getPartner(course).avatarUrl}}')
      .block
        .name(ng-bind='vm.getPartner(course).nickname')
      .block
        .fa.fa-bookmark
        span(ng-bind='course.code')
      .block
        .fa.fa-skype
        span(ng-bind='vm.getPartner(course).skype')
  .txt-center
    a.underline(href='/courses', translate) View old courses
