header.search('ng-include'='"libraries/components/headers/search/search.html"')
#content.mg-bottom-96px
  .row.mg-top-16px
    .column-25
      user-panel(courses='vm.courses')
    .column-75
      upcoming-schedules(schedules='vm.upcomingSchedules')
      #schedule
        .header
          .row
            .column-70
              span
                a(href='/schedule', translate) Schedule
              span
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
                  path(d="M23.688 15.313l-5.875-6.688c-0.438-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438s1 0.375 1.438 0l5.875-6.688c0.188-0.188 0.313-0.438 0.313-0.688 0-0.313-0.125-0.563-0.313-0.75zM9.188 23.438c0.375 0.438 1.063 0.438 1.438 0l5.938-6.688c0.188-0.188 0.25-0.438 0.25-0.688 0-0.313-0.063-0.563-0.25-0.75l-5.938-6.688c-0.375-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438z")
                a(href='/schedule/{{vm.course.code}}', 'ng-bind'='vm.course.code')
            .column-30.txt-right
              a.course-controls(href='/schedule/{{vm.course.code}}/curriculum')
                span.txt-uppercase(translate) Textbook
                i.fa.fa-book
        .body
          div('ng-if'='vm.course')
            .time-title
              .fa.fa-angle-left('ng-click'='vm.nextWeek(-1)')
              span(ng-bind='vm.calendarTitle()')
              .fa.fa-angle-right('ng-click'='vm.nextWeek(1)')
            br
            .calendar
              .row
                .column-16
                  .txt-right('ng-bind'='vm.getTimeZone()')
                .column-12
                  .txt-center Sun
                .column-12
                  .txt-center Mon
                .column-12
                  .txt-center Tue
                .column-12
                  .txt-center Wed
                .column-12
                  .txt-center Thu
                .column-12
                  .txt-center Fri
                .column-12
                  .txt-center Sat
              .row('ng-repeat'='time in [] | range:48')
                .column-16
                  .txt-right('ng-if'='time % 2 == 0', 'ng-bind'='(time/2 | pad:2) + ":00"')
                .column-12(ng-repeat-start='day in [] | range:7', ng-repeat-end=true, ng-class='vm.blockClass(day, time)', ng-click='vm.showBook(day, time, $event)')
              .row
                .column-16
                  .txt-right('ng-bind'='vm.getTimeZone()')
                .column-12
                  .txt-center Sun
                .column-12
                  .txt-center Mon
                .column-12
                  .txt-center Tue
                .column-12
                  .txt-center Wed
                .column-12
                  .txt-center Thu
                .column-12
                  .txt-center Fri
                .column-12
                  .txt-center Sat
          div('ng-if'='!vm.course')
            span(translate) You do not have any courses at this time
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
footer('ng-include'='"libraries/components/footer/footer.html"')
