header.search('ng-include'='"libraries/components/headers/search/search.html"')
#content.mg-bottom-96px
  #profile
    .row
      .column-25
        .width-220px
          .avatar
            img(ng-src='{{vm.currentUser.avatarUrl}}')
            input.hide(type='file', name='user[avatar]', uploader=true, uploader-object='vm.uploaderObject')
            .edit('ng-click'='vm.triggerFile()')
              .fa.fa-magic
          .user-name(ng-bind='vm.currentUser.fullName')
          .progress-bar.height-8px.d-inline-block.mg-top-8px('ng-if'='vm.percentage', style='width: {{vm.percentage}}%')
            .percentage
      .column-75
        .header
          span(translate) Profile
          hr.lines
        .group
          .title
            svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
              path(d="M23.688 15.313l-5.875-6.688c-0.438-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438s1 0.375 1.438 0l5.875-6.688c0.188-0.188 0.313-0.438 0.313-0.688 0-0.313-0.125-0.563-0.313-0.75zM9.188 23.438c0.375 0.438 1.063 0.438 1.438 0l5.938-6.688c0.188-0.188 0.25-0.438 0.25-0.688 0-0.313-0.063-0.563-0.25-0.75l-5.938-6.688c-0.375-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438z")
            span(translate) Account
          form.profile-form(role='form', name='vm.ProfileForm', novalidate=true, 'accept-charset'='UTF-8', 'ng-submit'='vm.formSubmit()')
            .errors
            .row
              .form-group.column-50
                .input-group
                  input(type='text', name='fullName', placeholder='{{ "Full Name" | translate }}', ng-model='vm.user.fullName', required=true)
                .error
              .form-group.column-50
                .input-group
                  input(type='text', name='nickname', placeholder='{{ "Nickname" | translate }}', ng-model='vm.user.nickname')
                .error
            .row
              .form-group.column-50
                .input-group
                  input(type='text', name='phoneNumber' placeholder='{{ "Phone Number" | translate }}', ng-model='vm.user.phoneNumber')
                .error
              .form-group.column-50
                .input-group
                  input(type='text', name='skype' placeholder='Skype', ng-model='vm.user.skype')
                .error
            .row
              .form-group.column-100
                .input-group
                  input(type='text', name='address' placeholder='{{ "Address" | translate }}', ng-model='vm.user.address')
                .error
            button.btn.btn-gradient.mg-top-24px(type='submit', translate) Update
        .group(ng-if='vm.currentUser.isStudent()')
          .title
            svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
              path(d="M23.688 15.313l-5.875-6.688c-0.438-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438s1 0.375 1.438 0l5.875-6.688c0.188-0.188 0.313-0.438 0.313-0.688 0-0.313-0.125-0.563-0.313-0.75zM9.188 23.438c0.375 0.438 1.063 0.438 1.438 0l5.938-6.688c0.188-0.188 0.25-0.438 0.25-0.688 0-0.313-0.063-0.563-0.25-0.75l-5.938-6.688c-0.375-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438z")
            span(translate) Money Pocket
          div
            span(ng-bind='("You have" | translate) + " " + vm.currentUser.priceUnits | price : vm.currentUser.currency')
        .group(ng-if='vm.currentUser.isStudent()')
          .title
            svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
              path(d="M23.688 15.313l-5.875-6.688c-0.438-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438s1 0.375 1.438 0l5.875-6.688c0.188-0.188 0.313-0.438 0.313-0.688 0-0.313-0.125-0.563-0.313-0.75zM9.188 23.438c0.375 0.438 1.063 0.438 1.438 0l5.938-6.688c0.188-0.188 0.25-0.438 0.25-0.688 0-0.313-0.063-0.563-0.25-0.75l-5.938-6.688c-0.375-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438z")
            span(translate) Course
          div
            span(translate translate-n="vm.remainOfLessons" translate-plural="You only have {{vm.remainOfLessons}} lessons") You ony have 1 lesson
            span.mg-right-4px ,
            span(translate) contact Studynow to have more
        .group(ng-if='vm.currentUser.isTeacher()')
          .title
            svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
              path(d="M23.688 15.313l-5.875-6.688c-0.438-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438s1 0.375 1.438 0l5.875-6.688c0.188-0.188 0.313-0.438 0.313-0.688 0-0.313-0.125-0.563-0.313-0.75zM9.188 23.438c0.375 0.438 1.063 0.438 1.438 0l5.938-6.688c0.188-0.188 0.25-0.438 0.25-0.688 0-0.313-0.063-0.563-0.25-0.75l-5.938-6.688c-0.375-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438z")
            span(translate) Weekly Schedule
          form.weekly-schedule-form(role='form', name='vm.WeeklyScheduleForm', novalidate=true, 'accept-charset'='UTF-8', 'ng-submit'='vm.weeklySchedulesSubmit()')
            .row.weekly-schedule(ng-repeat='weeklySchedule in vm.weeklySchedules', ng-if='!weeklySchedule._destroy')
              .column-50
                .row
                  .form-group.column-50
                    .select-group
                      .select-wrapper
                        select(ng-model='weeklySchedule.blockRangeDayBegin', ng-options='item.value as item.label for item in vm.weeklyOpts')
                          option(value='', translate) Select day
                  .form-group.column-50
                    .input-group
                      input(type='text', placeholder='00:00', ng-model='weeklySchedule.blockRangeTimeBegin')
              .column-50
                .row
                  .form-group.column-50
                    .select-group
                      .select-wrapper
                        select(ng-model='weeklySchedule.blockRangeDayEnd', ng-options='item.value as item.label for item in vm.weeklyOpts')
                          option(value='', translate) Select day
                  .form-group.column-50
                    .input-group
                      input(type='text', placeholder='00:00', ng-model='weeklySchedule.blockRangeTimeEnd')
              .transit
              .remove(ng-click='vm.removeWeeklySchedule(weeklySchedule)')
                svg("version"="1.1", "xmlns"="http://www.w3.org/2000/svg", "xmlns:xlink"="http://www.w3.org/1999/xlink", "width"="32", "height"="32", "viewBox"="0 0 32 32")
                  path("d"="M6.563 6.563c-5.188 5.188-5.188 13.688 0 18.875s13.688 5.188 18.875 0c5.188-5.188 5.188-13.625 0-18.875-5.188-5.188-13.625-5.188-18.875 0zM24.688 24.688c-4.813 4.75-12.563 4.75-17.375 0-4.75-4.813-4.75-12.563 0-17.375 4.813-4.75 12.563-4.75 17.375 0 4.75 4.813 4.75 12.563 0 17.375zM10.75 10l-0.813 0.75 5.313 5.25-5.25 5.25 0.75 0.75 5.25-5.25 5.25 5.25 0.75-0.75-5.25-5.25 5.313-5.25-0.813-0.75-5.25 5.25z")
            .row.weekly-schedule
              .column-50
                .row
                  .form-group.column-50
                    .select-group
                      .select-wrapper
                        select(name='newStartDate', ng-options='item.value as item.label for item in vm.weeklyOpts', ng-model='vm.weeklySchedule.blockRangeDayBegin')
                          option(value='', translate) Select day
                  .form-group.column-50
                    .input-group
                      input(type='text', name='newStartTime', placeholder='00:00', ng-model='vm.weeklySchedule.blockRangeTimeBegin')
              .column-50
                .row
                  .form-group.column-50
                    .select-group
                      .select-wrapper
                        select(name='newEndDate', ng-options='item.value as item.label for item in vm.weeklyOpts', ng-model='vm.weeklySchedule.blockRangeDayEnd')
                          option(value='', translate) Select day
                  .form-group.column-50
                    .input-group
                      input(type='text', name='newEndTime', placeholder='00:00', ng-model='vm.weeklySchedule.blockRangeTimeEnd')
              .transit
              .add-more(ng-click='vm.addWeeklySchedule()')
                svg("version"="1.1", "xmlns"="http://www.w3.org/2000/svg", "xmlns:xlink"="http://www.w3.org/1999/xlink", "width"="32", "height"="32", "viewBox"="0 0 32 32")
                  path("d"="M6.563 6.563c-5.188 5.188-5.188 13.688 0 18.875s13.688 5.188 18.875 0c5.188-5.188 5.188-13.625 0-18.875-5.188-5.188-13.625-5.188-18.875 0zM24.688 24.688c-4.813 4.75-12.563 4.75-17.375 0-4.75-4.813-4.75-12.563 0-17.375 4.813-4.75 12.563-4.75 17.375 0 4.75 4.813 4.75 12.563 0 17.375zM10.75 10l-0.813 0.75 5.313 5.25-5.25 5.25 0.75 0.75 5.25-5.25 5.25 5.25 0.75-0.75-5.25-5.25 5.313-5.25-0.813-0.75-5.25 5.25z")
            button.btn.btn-gradient.mg-top-24px(type='submit', translate) Update
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
footer('ng-include'='"libraries/components/footer/footer.html"')
