.bk-fake
.popup-content.signin('ng-controller'='PopupLoginCtrl as vm')
  .close
    svg("version"="1.1", "xmlns"="http://www.w3.org/2000/svg", "xmlns:xlink"="http://www.w3.org/1999/xlink", "width"="32", "height"="32", "viewBox"="0 0 32 32")
      path("d"="M6.563 6.563c-5.188 5.188-5.188 13.688 0 18.875s13.688 5.188 18.875 0c5.188-5.188 5.188-13.625 0-18.875-5.188-5.188-13.625-5.188-18.875 0zM24.688 24.688c-4.813 4.75-12.563 4.75-17.375 0-4.75-4.813-4.75-12.563 0-17.375 4.813-4.75 12.563-4.75 17.375 0 4.75 4.813 4.75 12.563 0 17.375zM10.75 10l-0.813 0.75 5.313 5.25-5.25 5.25 0.75 0.75 5.25-5.25 5.25 5.25 0.75-0.75-5.25-5.25 5.313-5.25-0.813-0.75-5.25 5.25z")
  .popup-header Đăng Nhập
  form.blank(role='form', name='vm.SignInForm', novalidate=true, 'accept-charset'='UTF-8', 'ng-submit'='vm.formSubmit()', autocomplete='off')
    .errors
    .form-group.mg-top-24px
      input(type='text', placeholder="abc@example.com", name='email', ng-model='vm.email', required=true)
      .error
    .form-group
      input(type='password', placeholder="password", name='password', ng-model='vm.password', required=true)
      .error
    .switch-forgot(ng-click='vm.switchForgotPassword()')
      | Quên mật khẩu?
    br
    button.btn.btn-gradient(type='submit') ĐĂNG NHẬP
    .switch-signup
      span Bạn chưa có tài khoản?
      a.mg-left-4px('ng-click'='vm.switchSignUp()') Bấm vào đây
    br
    br
    .dash-wrapper
      span.first
      span.width-20per hoặc
      span.last
    button.btn.btn-gradient.btn-anchor.mg-bottom-24px(type='button', ng-click='vm.fbLogin()')
      .icon-facebook
      | ĐĂNG NHẬP BẰNG FACEBOOK
