header.search('ng-include'='"libraries/components/headers/search/search.html"')
#content.mg-bottom-96px
  .row.mg-top-16px
    .column-25
      user-panel(courses='vm.courses')
    .column-75
      upcoming-schedules(schedules='vm.upcomingSchedules')
      #schedule
        .header
          .row
            .column-70
              span
                a(href='/schedule', translate) Schedule
              span
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
                  path(d="M23.688 15.313l-5.875-6.688c-0.438-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438s1 0.375 1.438 0l5.875-6.688c0.188-0.188 0.313-0.438 0.313-0.688 0-0.313-0.125-0.563-0.313-0.75zM9.188 23.438c0.375 0.438 1.063 0.438 1.438 0l5.938-6.688c0.188-0.188 0.25-0.438 0.25-0.688 0-0.313-0.063-0.563-0.25-0.75l-5.938-6.688c-0.375-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438z")
                a(href='/schedule/{{vm.course.code}}', 'ng-bind'='vm.course.code')
            .column-30.txt-right
              a.course-controls(href='/schedule/{{vm.course.code}}/curriculum')
                span.txt-uppercase(translate) Textbook
                i.fa.fa-book
        #course_notes.body
          .row.d-flex.course-note(ng-repeat='courseNote in vm.courseNotes')
            .column-25.course-label(ng-bind='courseNote.title')
            .column-75.course-description(ng-bind='courseNote.description')
          br
          br
          hr.lines.lines-long
          br
          br
          br
          form#new_course_note_form(role='form', name='vm.CourseNoteForm', novalidate=true, 'accept-charset'='UTF-8', 'ng-submit'='vm.formSubmit()')
            .row.row-padding
              .column-15
                label(translate) Title
              .column-85
                input(name='title', type='text', placeholder='', required=true, ng-model='vm.courseNote.title')
            .row.row-padding.mg-top-12px
              .column-15
                label(translate) Description
              .column-85
                textarea(name='description', type='text', placeholder='', required=true, ng-model='vm.courseNote.description')
            br
            br
            .row.row-padding
              .column-100.txt-right
                button.btn.btn-danger.btn-medium(type="submit", translate) Update
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
footer('ng-include'='"libraries/components/footer/footer.html"')
