#alert {
  height: 210px;
  width: 320px;
  position: fixed;
  z-index: 9999;
  bottom: 24px;
  left: 0;
  transform: translate(-320px, 0);
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
  @extend .background-cover;

  #bk-fake {
    position: absolute;
    background-image: url('/assets/images/popup_speech.png');
    opacity: 0.2;
    @extend .background-cover;
    @extend .fullscreen;
  }

  &.alert-success {
    background-image: url('/assets/images/popup_success.png');
  }

  &.alert-error {
    background-image: url('/assets/images/popup_error.png');
  }

  &.animate {
    transform: translate(0, 0);
    opacity: 1;

    .alert-content {
      opacity: 1;
    }
  }

  .alert-content {
    width: 200px;
    height: 148px;
    position: absolute;
    margin: -80px 0 0 0;
    display: flex;
    top: 50%;
    right: 24px;
    opacity: 0;
    color: white;
    transition: opacity 250ms ease-in-out 500ms;
    @extend .background-cover;
  }

  .body {
    padding: 0 12px 0 32px;
    font-size: 13px;
    box-sizing: border-box;
    margin: auto;
  }
}
