.btn {
  display: inline-block;
  border-radius: 2px;
  padding: 8px 12px;
  position: relative;
  text-decoration: none;
  cursor: pointer;

  &.btn-large {
    padding: 14px 24px;
  }

  &.btn-medium {
    padding: 10px 22px;
  }

  &.btn-small {
    padding: 4px 20px;
  }
}

.btn.btn-outline {
  background-color: transparent !important;
  border: 1px solid #FF5331;

  &.btn-large {
    padding: 13px 24px;
  }

  [class^=icon] {
    background-color: transparent !important;
  }
}

.btn.btn-anchor {
  padding-left: 48px;

  [class^=icon-] {
    border-radius: 2px 0 0 2px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 36px;

    &.icon-facebook {
      background-image: url('/assets/images/icons/facebook.png');
      background-size: 36%;
      padding: 0 8px;
    }
  }
}

.btn {
  &.btn-default {
    background-color: white;
    border: 1px solid #E3E3E3;
  }

  &.btn-danger {
    background-color: #FF5331;
    color: white;
  }

  &.btn-primary {
    background-color: #3B5999;
    color: white;
  }

  &.btn-success {
    background-color: #419641;
    color: white;

    &.btn-anchor  [class^=icon-] {
      background-color: #157115;
    }
  }

  &.btn-notice {
    background-color: #BED433;
    color: white;
  }

  &.btn-gradient {
    background-image: linear-gradient(to bottom right, #00cdaf, #00cd91);
    border: 0;
    color: white;
  }
}

.btn[disabled] {
  &.btn-danger {
    background-color: #BABABA;
  }
}
