#comments {

  .comment {
    position: relative;
    margin: 20px 0;
    min-height: 56px;
    width: 100%;
    display: inline-block;

    .avatar {
      width: 56px;
      position: absolute;
      left: 0;
      top: 0;

      img {
        width: 100%;
      }
    }

    .creator {
      padding: 0 0 0 72px;

      &.active {
        textarea {
          height: 80px;
        }

        .controls {
          display: block;
        }
      }

      textarea {
        width: 100%;
        height: 56px;
        border: 1px solid #E0E0E0;
        padding: 8px 12px;
        box-sizing: border-box;
        transition: height 100ms linear;
      }

      .controls {
        display: none;

        .btn {
          margin: 12px 0 0 0;
          padding: 9px 24px;
        }

        svg.attach {
          margin: 14px 12px 0 12px;
        }

        .file {
          margin: 8px 8px 0 12px;
          display: inline-block;
        }

        .remove {
          margin: 8px 0 0 0;
          display: inline-block;
          cursor: pointer;
        }
      }
    }

    .content {
      padding: 0 0 0 72px;

      .label {
        margin: -12px 0 0 0;
      }

      .username {
        font-weight: 600;
      }

      .time {
        color: #999;
        font-size: 12px;
        margin: 0 16px;
        vertical-align: bottom;
      }

      .desc {
        font-size: 13px;
        margin: 8px 0 0 0;
      }

      .attach-file {
        margin: 6px 0 0 0;
      }
    }
  }
}
