#course_notes {
  .course-note {
    padding: 24px 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0%;
      right: 0%;
      border-bottom: 1px dashed #CACACA;
    }

    &:first-of-type {
      padding-top: 8px;
    }

    &:last-of-type {
      padding-bottom: 0;

      &:after {
        display: none;
      }
    }

    .course-label {
      text-transform: uppercase;
      text-align: center;
      padding: 0 28px;
    }

    .course-description {
      border-left: 1px dashed #CACACA;
      padding: 0 28px;
      white-space: pre-wrap;
    }

    .close {
      cursor: pointer;
      transition: opacity 200ms linear;
      text-align: center;

      &:hover {
        opacity: 0.5;
      }

      svg {
        fill: #666;
        width: 9px;
        height: 9px;
      }
    }
  }

  #comments {
    padding: 0 24px;
  }

  #new_course_note_form {

    label {
      text-align: right;
      width: 100%;
      display: inline-block;
      font-size: 15px;
    }

    input, textarea {
      padding: 8px 12px;
    }

    textarea {
      height: 96px;
    }
  }
}
