#courses {
  background-color: white;
  border: 1px solid #E2E2E2;
  padding: 26px;

  .header {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 600;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 0 16px;

    a {
      color: #333;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: #333;
      padding: 2px 8px 0 4px;
    }
  }

  .body {
    padding: 8px 0;
  }
}
