#free_lessons {
  width: 100%;
  background: url('/assets/images/bk_intro3.jpg');
  background-size: cover;

  .content {
    display: inline-block;
    width: 100%;

    .bk-fake {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .content-body {
      width: 1024px;
      background-color: white;
      padding: 32px;
      margin: 40px auto;
    }

    .svg-icon {
      fill: #666;
      width: 16px;
      height: 16px;
      margin: 2px 12px 0 0;
    }

    .title {
      font-size: 16px;
    }

    .line-item {
      margin: 5px 0 0 0;

      input {
        display: inline-block;
        width: auto;
        margin: 4px 16px 0 0;
      }
    }
  }
}
