ul.dropdown-menu {
  background-color: white;
  position: absolute;
  right: 0;
  list-style-type: none;
  width: 200px;
  border: 1px solid #E3E3E3;
  border-top: 0;
  border-right: 0;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.1);

  li {
    padding: 10px 12px 14px 16px;
    cursor: pointer;

    &:hover {
      background-color: #F6F6F6;
    }
  }

  a {
    color: #333;

    &:hover {
      opacity: 1;
    }
  }
}

ul#dropdown_notification {
  width: 320px;
  max-height: 360px;
  padding: 0;

  .dropdown-wrapper {
    position: relative;
  }

  .dropdown-inside {
    position: relative;
    max-height: 324px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  a:first-of-type {
    li {
      border: 0;
    }
  }

  li {
    padding: 8px;
    border-top: 1px solid #EEE;
    font-size: 13px;

    img {
      height: 48px;
      width: 48px;
    }

    .content {
      overflow: hidden;
      white-space: nowrap;
    }

    .time {
      margin: 12px 0 0 0;
    }
  }

  .mark-as-read {
    text-align: center;
    width: 100%;

    li {
      background-color: #F6F6F6;
      height: 20px;
    }
  }
}
