#profile {
  margin: 32px 0 0 0;

  .avatar {
    overflow: hidden;
    border-radius: 480px;
    position: relative;
    width: 220px;

    img {
      width: 220px;
      height: 220px;
    }

    .edit {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      height: 40px;
      cursor: pointer;
    }

    .fa {
      color: white;
      font-size: 20px;
      margin: 12px 0;
    }
  }

  .user-name {
    font-size: 18px;
    margin: 12px 0;
    text-align: center;
  }

  .header {
    font-size: 24px;

    hr.lines {
      border-top: 2px solid #666;
      margin: 16px 0 0 36px;
      width: 6px;
      position: relative;

      &:before, &:after {
        border-top: 2px solid #666;
        content: "";
        position: absolute;
        top: -2px;
        width: 30px;
      }

      &:before {
        left: -36px;
      }

      &:after {
        left: 12px;
      }
    }
  }

  .group {
    margin: 32px 0;

    .title {
      font-size: 18px;
      margin: 0 0 12px 0;
    }

    svg {
      width: 20px;
      height: 20px;
      margin: -2px 6px 0 0;
    }

    .input-group, .select-group {
      margin: 12px 0;
      padding: 0 20px 0 0;
      box-sizing: border-box;
    }

    .btn-gradient {
      padding: 12px 24px;
    }
  }

  .profile-form, .weekly-schedule-form {
    width: 640px;
    position: relative;
  }

  .weekly-schedule {
    position: relative;

    .add-more, .remove {
      position: absolute;
      right: -40px;
      top: 14px;
      cursor: pointer;
      padding: 6px;

      &:hover svg {
        fill: red;
      }

      &.add-more svg {
        transform: rotate(45deg);
      }

      svg {
        width: 32px;
        height: 32px;
        fill: #666;
        transition: 250ms opacity linear, 250ms fill linear;
      }
    }

    .transit {
      position: absolute;
      left: 50%;
      top: 32px;
      width: 8px;
      height: 6px;
      background-color: #999;
      margin: 0 0 0 -14px;
    }
  }
}
