.progress-bar {
  background-color: #eeeeee;
  border-radius: 4px;

  .percentage {
    height: 100%;
    background-color: sandybrown;
    border-radius: 4px;
    transition: width 500ms linear;
  }
}
