#schedule {
  background-color: white;
  border: 1px solid #E2E2E2;
  padding: 26px;

  .header {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 600;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 0 16px;

    a {
      color: #333;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: #333;
      padding: 2px 8px 0 4px;
    }

    .course-controls {

      .fa {
        font-size: 24px;
        color: #666;
        margin: 0 0 0 12px;
      }
    }
  }

  .body {
    padding: 8px 0;

    .time-title {
      font-size: 16px;
      text-align: center;

      .fa {
        padding: 4px 8px;
        font-size: 24px;
        cursor: pointer;
        transition: opacity 250ms linear;

        &:hover {
          opacity: 0.5;
        }
      }

      .fa-angle-left {
        margin-right: 12px;
      }

      .fa-angle-right {
        margin-left: 12px;
      }
    }

    .calendar {
      .row {
        [class^=column-] {
          padding: 10px 0;
          border-bottom: 1px solid #DDD;
          border-right: 1px solid #DDD;
          height: 24px;
          box-sizing: border-box;

          &.availability {
            background-color: #cff1c2;
            cursor: pointer;
          }

          &.booked {
            background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #ffffff 10px, #ffffff 17px);
            background-color: #e7e7e7;
            cursor: pointer;
          }

          &.learnt {
            background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #ffffff 10px, #ffffff 17px);
            background-color: #e57373;
            cursor: pointer;
          }
        }

        .column-16 {
          padding-right: 12px;
        }
      }

      .row:first-child [class^= column-] {
        border-right: 0;
        height: auto;
      }

      .row:last-child [class^=column-] {
        border: 0 !important;
        height: auto;
      }

      .row:nth-child(even) {
        [class^=column-] {
          border-bottom: 1px dashed #DDD;

        }

        .column-16 {
          border-bottom: 0;
        }
      }
    }
  }
}

#learning {
  background-color: white;
  border: 1px solid #E2E2E2;
  padding: 16px 26px;
  margin: 0 0 24px 0;

  .warning {
    padding: 10px 0;
    position: relative;

    .btn {
      font-size: 12px;
      margin: -4px 0 0 0;
      position: absolute;
      right: 0;
    }
  }
}

#user-panel {
  background-color: white;
  border: 1px solid #E2E2E2;
  margin: 0 24px 0 0;

  .user-avatar {
    text-align: center;

    img {
      border-radius: 160px;
      width: 220px;
      height: 220px;
      margin: 20px 0 16px;
    }
  }

  .user-name {
    text-align: center;
    font-size: 18px;
  }

  hr {
    border: none;
    border-top: 1px solid #E9E9E9;
  }

  .title {
    font-weight: 600;
    font-size: 16px;
    padding: 0 0 0 16px;
    text-transform: uppercase;
  }

  .course {
    .avatar {
      width: 64px;
      position: absolute;
      left: 16px;
      top: 16px;
    }

    .line {
      font-size: 11px;
      position: relative;
      padding: 16px 16px 16px 0;
      height: 96px;
      cursor: pointer;
      width: 100%;
      display: inline-block;
      color: #333;
      box-sizing: border-box;

      &:hover {
        background-color: #E9E9E9;
        opacity: 1;
      }

      .block {
        margin: 0 0 4px 0;
        padding: 0 12px 0 92px;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        white-space: nowrap;

        &:first-of-type {
          margin-bottom: 8px;
        }
      }

      span {
        vertical-align: top;
        margin: 0 0 0 2px;
      }

      .name {
        font-size: 14px;
        font-weight: 600;
      }

      .fa {
        display: inline-block;
        width: 24px;
        margin: -2px 0 0 -8px;
        text-align: center;
      }
    }
  }

  a.underline {
    font-size: 13px;
    margin: 4px 0 12px 0;
    padding: 2px 0;
  }
}
