.simplemde {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;

  * {
    color: #333;
    vertical-align: top;
  }

  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    &:active, &:hover {
      outline-width: 0;
    }
  }

  strong {
    font-weight: inherit;
    font-weight: bold;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  img {
    border-style: none;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  code, kbd, pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  input {
    font: inherit;
    margin: 0;
    overflow: visible;
  }

  [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  a {
    color: #00cdaf;
    text-decoration: none;

    &:hover, &:active {
      border-bottom: 1px solid rgba(0, 205, 175, 0.5);
    }
  }

  strong {
    font-weight: 600;
  }

  hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;

    &::before {
      display: table;
      content: "";
    }

    &::after {
      display: table;
      clear: both;
      content: "";
    }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  td, th {
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
  }

  h5 {
    font-size: 14px;
    font-weight: 600;
  }

  h6 {
    font-size: 12px;
    font-weight: 600;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  blockquote {
    margin: 0;
  }

  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    li {
      padding: 0;
    }
  }

  ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: decimal;

    ol {
      list-style-type: lower-roman;
    }

    li {
      padding: 0;
    }
  }

  ul {
    list-style-type: disc;

    ol {
      list-style-type: lower-roman;
    }

    ul ol, ol ol {
      list-style-type: lower-alpha;
    }
  }

  ol {
    ul ol, ol ol {
      list-style-type: lower-alpha;
    }
  }

  dd {
    margin-left: 0;
  }

  code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
  }

  pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  .octicon {
    vertical-align: text-bottom;
  }

  input {
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
  }

  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }

  > * {
    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;

    &:focus {
      outline: none;
    }
  }

  p, blockquote, ul, ol, dl, table, pre {
    margin-top: 0;
    margin-bottom: 14px;
  }

  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e7e7e7;
    border: 0;
  }

  blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;

    > {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 14px;
    font-weight: 600;
    line-height: 1.25;
  }

  h1 .octicon-link, h2 .octicon-link, h3 .octicon-link, h4 .octicon-link, h5 .octicon-link, h6 .octicon-link {
    color: #000;
    vertical-align: middle;
    visibility: hidden;
  }

  h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    text-decoration: none;
  }

  h1:hover .anchor .octicon-link, h2:hover .anchor .octicon-link, h3:hover .anchor .octicon-link, h4:hover .anchor .octicon-link, h5:hover .anchor .octicon-link, h6:hover .anchor .octicon-link {
    visibility: visible;
  }

  h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eee;
  }

  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
    color: #777;
  }

  ul, ol {
    padding-left: 2em;
  }

  ul {
    ul, ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ol {
    ol, ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  li {
    > p {
      margin-top: 14px;
    }

    + li {
      margin-top: 0.25em;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 14px;
      font-size: 1em;
      font-style: italic;
      font-weight: bold;
    }

    dd {
      padding: 0 14px;
      margin-bottom: 14px;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;

    th {
      font-weight: bold;
      padding: 6px 13px;
      border: 1px solid #ddd;
    }

    td {
      padding: 6px 13px;
      border: 1px solid #ddd;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #ccc;

      &:nth-child(2n) {
        background-color: #f8f8f8;
      }
    }
  }

  img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
  }

  code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;

    &::before, &::after {
      letter-spacing: -0.2em;
      content: "\00a0";
    }
  }

  pre {
    word-wrap: normal;

    > code {
      padding: 0;
      margin: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 14px;

    pre {
      margin-bottom: 0;
      word-break: normal;
      padding: 14px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      background-color: #f7f7f7;
      border-radius: 3px;
    }
  }

  pre {
    padding: 14px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;

    code {
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;

      &::before, &::after {
        content: normal;
      }
    }
  }

  .pl-0 {
    padding-left: 0 !important;
  }

  .pl-1 {
    padding-left: 3px !important;
  }

  .pl-2 {
    padding-left: 6px !important;
  }

  .pl-3 {
    padding-left: 12px !important;
  }

  .pl-4 {
    padding-left: 24px !important;
  }

  .pl-5 {
    padding-left: 36px !important;
  }

  .pl-6 {
    padding-left: 48px !important;
  }

  .full-commit .btn-outline:not(:disabled):hover {
    color: #4078c0;
    border: 1px solid #4078c0;
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
  }

  :checked + .radio-label {
    position: relative;
    z-index: 1;
    border-color: #4078c0;
  }

  .task-list-item {
    list-style-type: none;

    + .task-list-item {
      margin-top: 3px;
    }

    input {
      margin: 0 0.2em 0.25em -1.6em;
      vertical-align: middle;
    }
  }

  hr {
    border-bottom-color: #eee;
  }
}
