.tag {
  display: inline-block;
  padding: 4px 8px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 12px;

  &.tag-default {
    background-color: #AAA;
  }

  &.tag-primary {
    background-color: #3B5999;
  }

  &.tag-danger {
    background-color: #FF5331;
  }

  &.tag-success {
    background-color: #419641;
  }

  &.tag-notice {
    background-color: #BED433;
  }
}
