nav.sidebar {
  width: 220px;
  top: 58px;
  bottom: 0;
  background-color: white;
  position: absolute;
  border-top: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.1);
  position: fixed;

  ul.nav-menu { 
    margin: 12px 0 0 0;
    text-transform: uppercase;

    li {
      padding: 12px 24px;
      cursor: pointer;
      color: #666;

      &:hover {
        background-color: #444;
        color: white;

        .fa {
          color: white;
        }
      }

      .fa {
        font-size: 20px;
        display: inline-block;
        margin: -2px 0 0 0;
        width: 32px;
        color: #444;
      }
    }
  }
}
