div('ng-controller'='HeaderSearchCtrl as vm')
  .logo
    a(href='/')
      img(src='/assets/images/logo.png')
  .user
    ul
      a(href='/homeworks', ng-if='vm.currentUser.isStudent()')
        li
          span(translate) Homework
      a(href='/schedule')
        li
          span(translate) Schedule
      a.mg-left-24px(href='#')
        li(dropdown='#dropdown_notification')
          i.fa.fa-globe
          span.notification-number(ng-bind='vm.unreadCount', ng-if='vm.unreadCount > 0')
    ul.mg-left-16px
      a(href='#')
        li.user-image(dropdown='#dropdown_user')
          img.width-36px(ng-src='{{vm.currentUser.avatarUrl}}')
  ul#dropdown_user.dropdown-menu.hide
    a(href='/profile')
      li(translate) User Profile
    a(href='', ng-click='vm.logOut()')
      li(translate) Logout
  ul#dropdown_notification.dropdown-menu.hide
    .dropdown-wrapper
      .dropdown-inside(infinite-scroll="vm.loadMore()", infinite-scroll-disabled='vm.noMoreLoad', infinite-scroll-visible='true')
        a(ng-repeat='notification in vm.notifications', href='/schedule/{{notification.data.courseCode}}/curriculum', ng-click='vm.goToNotification(notification, $event)')
          li
            .row
              .column-18
                img(ng-src='{{notification.creator.avatar}}')
              .column-82
                .content
                  b(ng-bind='notification.creator.fullName')
                  span.mg-left-4px(ng-bind='notification.action')
                  span.mg-left-4px(ng-bind='notification.targetName')
                .time(ng-bind='notification.timeFrom')
      a.mark-as-read(ng-click='vm.markAsRead()')
        li(translate) Mark as read
