header.search('ng-include'='"libraries/components/headers/search/search.html"')
#content.mg-bottom-96px
  .row.mg-top-16px
    .column-25
      #user-panel
        .user-avatar
          img(ng-src='{{vm.currentUser.avatarUrl}}')
        .user-name(ng-bind='vm.currentUser.fullName')
        br
        .width-220px.mg-auto
          .row
            .column-70
              span(translate) Homeworks:
            .column-30
              span(ng-bind='vm.homeworkStudents.length')
          .row.mg-top-8px
            .column-70
              span(translate) Score:
            .column-30
              span(ng-bind='vm.score')
        br
    .column-75
      #courses
        .header
          .row
            .column-70
              span
                a(href='/homeworks', translate) Homeworks
              span
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
                  path(d="M23.688 15.313l-5.875-6.688c-0.438-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438s1 0.375 1.438 0l5.875-6.688c0.188-0.188 0.313-0.438 0.313-0.688 0-0.313-0.125-0.563-0.313-0.75zM9.188 23.438c0.375 0.438 1.063 0.438 1.438 0l5.938-6.688c0.188-0.188 0.25-0.438 0.25-0.688 0-0.313-0.063-0.563-0.25-0.75l-5.938-6.688c-0.375-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438z")
                a(href='/homeworks/{{vm.homeworkStudent.id}}', 'ng-bind'='vm.homeworkStudent.id')
        .body
          .row
            .column-15
              span(translate) Description
            .column-85
              div(ng-bind='vm.homeworkStudent.homework.content')
          .row.mg-top-20px
            .column-15
              span(translate) Attachment
            .column-85
              a(ng-href='{{vm.homeworkStudent.homework.attachFile.path}}', download, translate) Download
          .row.mg-top-20px
            .column-15
              span(translate) Score
            .column-85
              span(ng-bind='vm.homeworkStudent.score', ng-if='vm.homeworkStudent.score > 0')
              span(ng-if='vm.homeworkStudent.score == 0', translate) Not scored
          br
          br
          br
          comments(comments='vm.comments', uploader-object='vm.uploaderObject', commentable-id='vm.homeworkStudent.id', commentable-type='"HomeworkStudent"')

#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
footer('ng-include'='"libraries/components/footer/footer.html"')
