.dialog {
  position: absolute;
  z-index: 99;

  .close {
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 9;
  }

  .dialog-content {
    margin: 0 auto;
    position: relative;
  }
}
