#dialog_book.dialog {
  width: 280px;

  .header {
    background-color: #419641;

    &:after {
      border-bottom: 8px solid #419641;
    }

    &.text {
      padding-left: 16px;
    }
  }

  .dialog-content {
    border: 1px solid #419641;
    border-top: 0;
  }

  .select-wrapper {
    border: 0;
    padding: 0;
  }
}
