#dialog_schedule.dialog, #dialog_book {
  width: 240px;
  background-color: white;
  margin: 0 0 0 -120px;

  .header {
    padding: 8px;
    background-color: #FF5331;
    color: white;
    position: relative;
    padding: 12px 0 12px 68px;
    font-size: 16px;

    &:after {
      position: absolute;
      content: '';
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #FF5331;
      top: -8px;
      left: 50%;
      margin: 0 0 0 -4px;
    }

    .avatar {
      width: 40px;
      border-radius: 64px;
      border: 1px solid white;
      position: absolute;
      left: 16px;
    }

    .close {
      top: 10px;
      right: 8px;

      svg {
        fill: white;
        width: 28px;
        height: 28px;
      }
    }
  }

  .dialog-content {
    padding: 16px;
    border: 1px solid #FF5331;
    border-top: 0;

    .errors p {
      margin: 0 0 4px 0;
    }

    .row {
      padding: 4px 0;
    }

    .btn {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
