header.home('ng-include'='"libraries/components/headers/home/home.html"')
#full_content
  .introduction.part
    .box-announcement
      .box-title
        div Nói Tiếng Anh như
        div người bản xứ
      .box-body
        br
        p
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
            path(d="M16.063 0c-8.813 0-16 7.188-16 16s7.188 16 16 16c8.875 0 16-7.188 16-16s-7.125-16-16-16zM16.063 30c-7.688 0-14-6.25-14-14s6.313-14 14-14c7.75 0 14 6.25 14 14s-6.25 14-14 14zM23.063 9.625c-0.625-0.438-1.5-0.25-1.938 0.438l-6.75 10.313-3.188-3c-0.563-0.5-1.438-0.5-2 0.063-0.5 0.563-0.5 1.438 0.063 2l4.5 4.125c0 0 0 0 0.063 0 0 0.063 0.063 0.125 0.063 0.125 0.063 0.063 0.125 0.063 0.188 0.063 0.125 0.063 0.188 0.063 0.25 0.125 0.063 0 0.125 0 0.25 0 0.125 0.063 0.188 0.063 0.313 0 0.063 0 0.125 0 0.125 0 0.188-0.063 0.313-0.125 0.438-0.188 0 0 0 0 0.063-0.063 0.063 0 0.125-0.063 0.188-0.125s0.125-0.125 0.125-0.188c0 0 0 0 0 0l7.688-11.75c0.438-0.625 0.25-1.5-0.438-1.938z")
          span Lớp học Tiếng Anh trực tuyến chỉ với 1 giáo viên người nước ngoài và 1 học viên.
        p
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
            path(d="M16.063 0c-8.813 0-16 7.188-16 16s7.188 16 16 16c8.875 0 16-7.188 16-16s-7.125-16-16-16zM16.063 30c-7.688 0-14-6.25-14-14s6.313-14 14-14c7.75 0 14 6.25 14 14s-6.25 14-14 14zM23.063 9.625c-0.625-0.438-1.5-0.25-1.938 0.438l-6.75 10.313-3.188-3c-0.563-0.5-1.438-0.5-2 0.063-0.5 0.563-0.5 1.438 0.063 2l4.5 4.125c0 0 0 0 0.063 0 0 0.063 0.063 0.125 0.063 0.125 0.063 0.063 0.125 0.063 0.188 0.063 0.125 0.063 0.188 0.063 0.25 0.125 0.063 0 0.125 0 0.25 0 0.125 0.063 0.188 0.063 0.313 0 0.063 0 0.125 0 0.125 0 0.188-0.063 0.313-0.125 0.438-0.188 0 0 0 0 0.063-0.063 0.063 0 0.125-0.063 0.188-0.125s0.125-0.125 0.125-0.188c0 0 0 0 0 0l7.688-11.75c0.438-0.625 0.25-1.5-0.438-1.938z")
          span Giáo trình được thiết kế riêng cho từng học viên.
        p
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
            path(d="M16.063 0c-8.813 0-16 7.188-16 16s7.188 16 16 16c8.875 0 16-7.188 16-16s-7.125-16-16-16zM16.063 30c-7.688 0-14-6.25-14-14s6.313-14 14-14c7.75 0 14 6.25 14 14s-6.25 14-14 14zM23.063 9.625c-0.625-0.438-1.5-0.25-1.938 0.438l-6.75 10.313-3.188-3c-0.563-0.5-1.438-0.5-2 0.063-0.5 0.563-0.5 1.438 0.063 2l4.5 4.125c0 0 0 0 0.063 0 0 0.063 0.063 0.125 0.063 0.125 0.063 0.063 0.125 0.063 0.188 0.063 0.125 0.063 0.188 0.063 0.25 0.125 0.063 0 0.125 0 0.25 0 0.125 0.063 0.188 0.063 0.313 0 0.063 0 0.125 0 0.125 0 0.188-0.063 0.313-0.125 0.438-0.188 0 0 0 0 0.063-0.063 0.063 0 0.125-0.063 0.188-0.125s0.125-0.125 0.125-0.188c0 0 0 0 0 0l7.688-11.75c0.438-0.625 0.25-1.5-0.438-1.938z")
          span Thời gian học vô cùng linh động từ 5h sáng cho đến 24h hàng ngày.
        br
        .txt-center
          button.btn.btn-gradient(ng-click='vm.openSignupPopup()') ĐĂNG KÝ
    .carousel(carousel=true)
      .item1
        img(src='/assets/images/bk_intro.jpg')
      .item2
        img(src='/assets/images/bk_intro2.jpg')
        .desc
          .height-80px
          .fontsize-48px 100% giáo viên
          .fontsize-28px.mg-top-24px.mg-bottom-8px người nước ngoài có bằng cấp
          .fontsize-28px sư phạm và kinh nghiệm giảng dạy
      .item3
        img(src='/assets/images/bk_intro3.jpg')
        .desc.txt-right
          .group
            div Thời gian lớp học
            div do bạn chọn lựa
      .item4
        img(src='/assets/images/bk_intro4.jpg')
        .desc
          .height-80px
          .fontsize-48px Bạn có thể dời và hủy bỏ
          .fontsize-28px lịch học mà không tốn bất cứ chi phí nào
      .item5
        img(src='/assets/images/bk_intro5.jpg')
        .desc
          .height-400px
          .fontsize-48px Cam kết chất lượng lớp học
          .fontsize-28px với chi phí hợp lý nhất
  .about-us.part
    .container
      .row
        .column-45
          .title
            | VỀ CHÚNG TÔI
            hr.lines
          p Trung tâm ngoại ngữ Studynow.vn - nơi quy tụ những người trẻ Việt nhiệt huyết đang sinh sống, làm việc tại nhiều quốc gia khác nhau và một đội ngũ giáo viên nước ngoài nhiều năm kinh nghiệm, với mong muốn đem đến cho học viên Việt Nam cơ hội để tiếp cận hệ thống giáo dục ngoại ngữ quốc tế ưu việt. Qua đó, góp một phần nào giúp người Việt Nam sẽ có nền tảng ngoại ngữ vững chắc hơn để chinh phục ước mơ giao lưu, hội nhập "vươn ra biển lớn".
          p(showmore, showmore-limit='60') Hiện nay, việc học Anh văn Online đã trở thành xu hướng của các nước phát triển vì phương pháp này mang lại hiệu quả tối ưu với chi phí học tập tiết kiệm. Với một đội ngũ giáo viên nước ngoài có bằng cấp, thâm niên giảng dạy cùng giáo trình được thiết kế riêng sẽ giúp cho từng học viên đạt được kết quả mong muốn trong thời gian ngắn nhất. Hơn nữa, phương thức học một giáo viên - một học viên sẽ tạo ra sự tương tác cao hơn, giúp giáo viên có thể theo sát và hướng dẫn từng học viên của mình tốt nhất. STUDYNOW.VN luôn tự tin và xin cam đoan về chất lượng giáo dục mà chúng tôi mang đến cho những học viên của mình.
        .column-55
          br
          br
          .mg-left-48px
            iframe(width="560", height="315", src="https://www.youtube.com/embed/PHe3J66ewN0", frameborder="0", allowfullscreen)
      br
      br
      br
  .features.part
    .container
      .title
        | CÁC KHOÁ HỌC
        hr.lines
      .hint Chương trình học đa dạng, từ sơ cấp đến chuyên sâu.
      br
      br
      br
      .row.txt-center
        .column-33.course-1
          .block
            .label Tiếng Anh trẻ em
            .desc Khóa học được thiết kế dành riêng cho học sinh tiểu học giúp bé luyện kỹ năng phản xạ, phát âm chuẩn xác, hình thành phong cách tự tin và phát triển kiến thức Anh ngữ một cách toàn diện.
        .column-33.course-2
          .block
            .label Tiếng Anh văn phòng
            .desc Chương trình học được thiết kế riêng cho người đi làm, bao gồm các kỹ năng: nói chuyện với đồng nghiệp, trả lời điện thoại, viết email trang trọng, và kỹ năng thuyết trình. Sau khóa học, học viên sẽ tự tin hơn rất nhiều trong môi trường làm việc quốc tế.
        .column-33.course-3
          .block
            .label Luyện thi các chứng chỉ
            .desc Studynow.vn cung cấp các khóa học luyện thi IELTS, TOEFL iBT, TOIEC nhằm giúp các bạn đạt được mục tiêu điểm số đề ra. Từ đó mở ra cánh cửa chinh phục ước mơ du học hoặc làm việc trong môi trường quốc tế của mình.
      .row.txt-center
        .column-33.course-4
          .block
            .label Tiếng Anh giao tiếp
            .desc Khóa học được thiết kế dành riêng cho người lớn có nhu cầu cải thiện và phát triển kỹ năng nghe nói, trang bị cho người học kiến thức, kỹ năng phản xạ, và chủ động xoay chuyển trong các tình huống giao tiếp thực tế.
        .column-33.course-link
          .block
            a.link(href='/free_lessons/register')
              div
                b -> Click để đăng
              div
                b ký học thử miễn phí!
        .column-33.course-5
          .block
            .label Tiếng Anh theo yêu cầu
            .desc Khóa học được thiết kế với nhu cầu riêng biệt của mỗi học viên như: kỹ năng phỏng vấn, viết báo cáo, viết thư xin việc, kỹ năng thuyết trình bằng Tiếng Anh, ... Chất lượng tại studynow.vn hoàn toàn đáp ứng được nhu cầu của bạn.
      br
      br
      br
  .teachers.part
    .container
      .title
        | ĐỘI NGŨ GIÁO VIÊN
        hr.lines
      .hint
        div Chúng tôi chỉ tuyển top 5% những giáo viên giỏi nhất và 100% họ là những giáo viên người nước ngoài.
      br
      br
      br
      .row
        .column-25.block
          img(src='/assets/images/icons/cert-1.png')
          .label CHUYÊN MÔN SƯ PHẠM
          .desc Toàn bộ giáo viên đều có bằng cấp giáo dục ngoại ngữ từ bậc đại học trở lên.
        .column-25.block
          img(src='/assets/images/icons/teaching.png')
          .label KINH NGHIỆM GIẢNG DẠY
          .desc Các giáo viên đều có kinh nghiệm trực tiếp giảng dạy Tiếng Anh lâu năm.
        .column-25.block
          img(src='/assets/images/icons/learning.png')
          .label KỸ NĂNG DẠY TRỰC TUYẾN
          .desc Các giáo viên đều được đào tạo kỹ năng giảng dạy trực tuyến.
        .column-25.block
          img(src='/assets/images/icons/cert-2.png')
          .label TIẾN SĨ GIÁO DỤC
          .desc Tiến sĩ giáo dục của Trung tâm sẽ xây dựng chương trình học và kiểm tra định kì cho từng học viên.
      .row
        .column-100.img-teacher
          img.width-100per(src='/assets/images/teachers.jpg')
      br
      br
  .learning.part
    .container
      .title
        | HƯỚNG DẪN
        hr.lines
      .hint
        div 3 bước để bắt đầu
      br
      br
      br
      br
      .row
        .column-5 &nbsp;
        .column-26
          .label 1. LIÊN HỆ ĐỘI NGŨ TƯ VẤN
          .desc
            div Qua Hotline, Email, Skype hoặc trực tiếp tại ô "để lại lới nhắn" bên dưới, chúng tôi sẽ trả lời bạn trong thời gian sớm nhất.
        .column-26
          .txt-center
            img.width-80per(src='/assets/images/step-flow.png')
        .column-38
          .label 2. HỌC THỬ 3 BUỔI MIỄN PHÍ
          .desc
            div 3 buổi học thử dùng để kiểm tra trình độ, làm quen với giáo viên và xác định mục đích học Tiếng Anh của bạn, từ đó đề ra chương trình và kế hoạch học tập hơp lý.
            div Nếu cảm thấy không phù hợp bạn có thể dừng lại ở bước này mà không hề mất phí.
        .column-5 &nbsp;
      br
      br
      br
      .row
        .column-10 &nbsp;
        .column-40
          .label.txt-right.pd-right-16px
            div 3. THANH TOÁN,
            div BẮT ĐẦU HỌC CHÍNH THỨC
        .column-35
          .desc.pd-left-16px
            div Sau khi thanh toán (xem phương thức thanh toán bên dưới), chúng tôi sẽ sắp xếp chương trình học chính thức từ lịch học do chính bạn yêu cầu.
        .column-15 &nbsp;
      br
      br
      br
  .contact-us.part
    .container
      .title
        | LIÊN HỆ VỚI CHÚNG TÔI
        hr.lines
      .hint
        div Vui lòng để lại lời nhắn.
        div Chúng tôi sẽ trả lời bạn trong thời gian sớm nhất
      br
      br
      br
      form.blank(role='form', name='vm.FeedbackForm', novalidate=true, 'accept-charset'='UTF-8', 'ng-submit'='vm.formSubmit()', autocomplete='off')
        .row
          .column-10 &nbsp;
          .column-40
            .pd-right-24px
              .mg-bottom-12px
                input(type='text', placeholder='Họ & tên', name='fullName', ng-model='vm.feedback.fullName')
              .mg-bottom-12px
                input(type='text', placeholder='Email', name='email', ng-model='vm.feedback.email', required=true)
              .mg-bottom-12px
                input(type='text', placeholder='Số điện thoại', ng-model='vm.feedback.phoneNumber')
          .column-32
            .pd-left-24px
              textarea.height-160px(placeholder='Lời nhắn', name='content', ng-model='vm.feedback.content', required=true)
          .column-28 &nbsp;
        br
        br
        .row
          .column-40 &nbsp;
          .column-20
            button.btn.btn-gradient Gửi Tin Nhắn
          .column-40 &nbsp;
      img.teacher(src='/assets/images/asian-teacher.png')
      br
      br
  .partner.part
    .container
      .title
        | ĐỐI TÁC & CHI NHÁNH
        hr.lines
      .hint
        div Các chi nhánh và đối tác hỗ trợ của Study Now
      .partner-title CHI NHÁNH
      .row
        .column-20 &nbsp;
        .column-30
          .agency
            .agency-icon
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32")
                path(d="M18.5 9.5c0-1.375-1.125-2.5-2.5-2.5s-2.5 1.125-2.5 2.5c0 1.375 1.125 2.5 2.5 2.5s2.5-1.125 2.5-2.5zM14.5 9.5c0-0.813 0.688-1.5 1.5-1.5s1.5 0.688 1.5 1.5c0 0.813-0.688 1.5-1.5 1.5s-1.5-0.688-1.5-1.5zM16 24.313l0.375-0.5c0.25-0.313 6.625-8.188 6.625-13.313 0-4.125-3.188-7.5-7-7.5-3.875 0-7 3.375-7 7.5 0 5.125 6.313 13 6.625 13.313zM16 4c3.313 0 6 2.938 6 6.5 0 4.063-4.625 10.375-6 12.188-1.375-1.813-6-8.125-6-12.188 0-3.563 2.688-6.5 6-6.5zM21.5 18v1h4.188l4.938 9h-29.25l4.938-9h4.188v-1h-4.813l-6.063 11h32.75l-6.063-11z")
            .agency-content
              .agency-label Hồ Chí Minh
              div Số Q9, Đường Bạch Mã
              div Phường 15, Quận 10
        .column-30
          .agency
            .agency-icon
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32")
                path(d="M18.5 9.5c0-1.375-1.125-2.5-2.5-2.5s-2.5 1.125-2.5 2.5c0 1.375 1.125 2.5 2.5 2.5s2.5-1.125 2.5-2.5zM14.5 9.5c0-0.813 0.688-1.5 1.5-1.5s1.5 0.688 1.5 1.5c0 0.813-0.688 1.5-1.5 1.5s-1.5-0.688-1.5-1.5zM16 24.313l0.375-0.5c0.25-0.313 6.625-8.188 6.625-13.313 0-4.125-3.188-7.5-7-7.5-3.875 0-7 3.375-7 7.5 0 5.125 6.313 13 6.625 13.313zM16 4c3.313 0 6 2.938 6 6.5 0 4.063-4.625 10.375-6 12.188-1.375-1.813-6-8.125-6-12.188 0-3.563 2.688-6.5 6-6.5zM21.5 18v1h4.188l4.938 9h-29.25l4.938-9h4.188v-1h-4.813l-6.063 11h32.75l-6.063-11z")
            .agency-content
              .agency-label Hà Nội
              div Số 23 ngõ 8 Mạc Thái Tổ
              div Yên Hoà, Cầu Giấy
        .column-20 &nbsp;
      br
      br
      .partner-title ĐỐI TÁC
      br
      br
      .row
        .column-38 &nbsp;
        .column-24
          a(href='http://www.vnu-itp.edu.vn/')
            img.width-100per(src='/assets/images/itp_logo.png')
        .column-38 &nbsp;
    br
    br

footer('ng-include'='"libraries/components/footer/footer.html"')
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
