.container('ng-controller'='HeaderBlogCtrl as vm')
  ul.nav(scroll-to=true)
    li
      .logo
        a(href='/')
          img.width-96px('ng-src'='/assets/images/logo.png')
      .contact
        div
          i.fa.fa-phone
          span 0906.62.62.94 - 01238573979
        div
          i.fa.fa-skype
          a(href='skype:studynow.vn?chat') studynow.vn
  ul.nav.nav-right(scroll-to=true)
    li.username('ng-if'='vm.currentUser.id')
      a(href='/profile', 'ng-bind'='vm.currentUser.fullName')
    li('ng-if'='vm.currentUser.id', 'ng-click'='vm.logOut()')
      i.fa.fa-sign-out.mg-left-8px
    li.red('ng-if'='!vm.currentUser.id', 'ng-click'='vm.openLoginPopup()')
      a Đăng Nhập
