header.search('ng-include'='"libraries/components/headers/search/search.html"')
#content.mg-bottom-96px
  .row.mg-top-16px
    .column-25
      #user-panel
        .user-avatar
          img(ng-src='{{vm.currentUser.avatarUrl}}')
        .user-name(ng-bind='vm.currentUser.fullName')
        br
        .width-220px.mg-auto
          .row
            .column-70
              span(translate) Learned courses:
            .column-30
              span(ng-bind='vm.numberOfCourses')
          .row.mg-top-8px
            .column-70
              span(translate) Spending Time (h):
            .column-30
              span(ng-bind='vm.numberOfHours')
          .row.mg-top-8px
            .column-70
              span(translate) Number of partners:
            .column-30
              span(ng-bind='vm.numberOfTeachers')
        br
    .column-75
      #schedule
        .header
          .row
            .column-70
              span
                a(href='/courses', translate) Learned Courses
              span
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="32", height="32", viewBox="0 0 32 32")
                  path(d="M23.688 15.313l-5.875-6.688c-0.438-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438s1 0.375 1.438 0l5.875-6.688c0.188-0.188 0.313-0.438 0.313-0.688 0-0.313-0.125-0.563-0.313-0.75zM9.188 23.438c0.375 0.438 1.063 0.438 1.438 0l5.938-6.688c0.188-0.188 0.25-0.438 0.25-0.688 0-0.313-0.063-0.563-0.25-0.75l-5.938-6.688c-0.375-0.375-1.063-0.375-1.438 0s-0.375 1 0 1.438l5.313 6-5.313 5.938c-0.375 0.438-0.375 1.063 0 1.438z")
                a(href='/courses/{{vm.course.id}}', 'ng-bind'='vm.course.code')
            .column-30.txt-right('ng-if'='vm.currentUser.isTeacher()')
              a.course-controls(href='/schedule/{{vm.partner.slug}}/edit')
                span.txt-uppercase(translate) Textbook
                i.fa.fa-edit
        #course_notes.body
          .row.d-flex.course-note(ng-repeat='courseNote in vm.courseNotes')
            .column-25.course-label(ng-bind='courseNote.title')
            .column-70.course-description(ng-bind-html='courseNote.description')
          br
          hr.lines.lines-long
          br
          comments(comments='vm.comments', uploader-object='vm.uploaderObject', commentable-id='vm.course.id', commentable-type='"Course"')
#alert('alert-animation'=true, 'ng-include'='"libraries/directives/alert/alert.html"')
footer('ng-include'='"libraries/components/footer/footer.html"')
